doctype html
html(lang="en")
    head
        title Motorbot Playlist
        meta(name="viewport",content="width=1128px, initial-scale=1")
        link(type='image/png',rel='icon',href='https://mb.lolstat.net/another_icon.png')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu",rel="stylesheet")
        link(href='/css/register.css',rel='stylesheet')
        link(href='/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome.min.css', rel='stylesheet')
        link(href='/fontawesome-free-5.0.13/web-fonts-with-css/css/fa-solid.min.css', rel='stylesheet')
    body
        .sidebar
            .bg
        .steps
            .step
                .stepNumber 1
                .info Authenticate With Discord
            .step
                .stepNumber.active 2
                .info Create Your New Account
                .details
                    p Now it's time to create your MotorBot Music account, choose a username and secure password.
                    form(method="POST",action="/loginflow/register")
                        if err
                            .error <i class="fa fa-times"></i> &nbsp; #{err}
                        input(type="text",name="user",placeholder="Username")
                        input(type="password",name="pass",placeholder="Password")
                        input(type="password",name="repeat_pass",placeholder="Repeat Password")
                        input(type="submit",value="Register")
            .step
                .stepNumber 3
                .info Enjoy