doctype html
html(lang="en")
    head
        title MotorBot: Account Creation
        meta(name="viewport",content="width=1128px, initial-scale=1")
        link(type='image/png',rel='icon',href='https://motorbot.io/another_icon.png')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu",rel="stylesheet")
        link(href='/css/register.css',rel='stylesheet')
        link(href='/css/fa/all.css', rel='stylesheet')
        script.
            document.onload = function(){
               setTimeout(function(){
                   window.location.href="https://motorbot.io";
               }, 5000);
            };
    body
        .sidebar
            .bg
        .steps
            .step
                .stepNumber 1
                .info Authenticate With Discord
            .step
                .stepNumber 2
                .info Create Your New Account
            .step
                .stepNumber.active 3
                .info Enjoy
                .details
                    p And you're done, this page will reload in 5 seconds