doctype html
html(lang="en")
    head
        title Motorbot Playlist
        meta(name="viewport",content="width=1128px, initial-scale=1")
        link(type='image/png',rel='icon',href='https://mb.lolstat.net/another_icon.png')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu",rel="stylesheet")
        link(href='/css/register.css',rel='stylesheet')
        link(href='/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome.min.css', rel='stylesheet')
        link(href='/fontawesome-free-5.0.13/web-fonts-with-css/css/fa-solid.min.css', rel='stylesheet')
        script.
            document.onload = function(){
               setTimeout(function(){
                   window.location.href="https://mb.lolstat.net";
               }, 5000);
            };
    body
        .sidebar
            .bg
        .steps
            .step
                .stepNumber 1
                .info Authenticate With Discord
            .step
                .stepNumber 2
                .info Create Your New Account
            .step
                .stepNumber.active 3
                .info Enjoy
                .details
                    p And you're done, this page will reload in 5 seconds