.contentWrapper
    .contentTitle(style="font-size: 15px;") My Apps
    ul#developer_apps
        li
            .title(style="background: rgba(45, 175, 109, 1.00);") <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Create New  App
