doctype html
html(lang="en")
    head
        title Motorbot Playlist
            meta(name="viewport", content="width=1128px, initial-scale=1")
            link(type='image/png', rel='icon', href='https://mb.lolstat.net/another_icon.png')
            link(href="/css/fonts-Ubuntu.css", rel="stylesheet")
            link(href='/css/login.css', rel='stylesheet')
            script if (typeof module === 'object') {
                window.module = module;
                module = undefined;
            }
            script if (window.module) module = window.module;
            script.
                document.onload = function () {
                    console.log("Document Loaded");
                    console.log(window.location.href);
                    document.getElementById("loginform").setAttribute("action", window.location.href);
                };
    body
        .loginSidebar
        .bg_opacity
        form(class="form",method="POST",action="/loginflow/login")
            h1 Login to MotorBot Music
            if err
                .error <i class="fa fa-times"></i> &nbsp; Incorrect username or password
            input(type="text",name="user",placeholder="USERNAME")
            input(type="password",name="pass",placeholder="PASSWORD")
            input(type="submit",value="LOGIN")
            .register
                a(href="/loginflow/register") Sign up