doctype html
html(lang="en")
    head
        title Motorbot Playlist
        meta(name="viewport",content="width=1128px, initial-scale=1")
        link(type='image/png',rel='icon',href='https://mb.lolstat.net/motorbotIcon_transparent.png')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu",rel="stylesheet")
        link(href='/css/login.css',rel='stylesheet')
        link(href='/font-awesome-4.6.3/css/font-awesome.min.css',rel='stylesheet')
        script if (typeof module === 'object') {window.module = module; module = undefined;}
        script(src='/js/jquery-3.1.0.min.js')
        script if (window.module) module = window.module;
        script.
            $(document).ready(function (e) {
                $("#loginform").attr("action", window.location.href)
            });
    body
        .sidebar
        .bg_opacity
        form(id="loginform",class="form",method="POST",action="/api/oauth2/login")
            h1 Login to MotorBot Music
            if err != ""
                .error <i class="fa fa-times"></i> &nbsp; #{err}
            input(type="text",name="user",placeholder="USERNAME")
            input(type="password",name="pass",placeholder="PASSWORD")
            input(type="submit",value="LOGIN")
            .register
                a(href="/loginflow/register") Sign up