doctype html
html(lang="en")
    head
        title Motorbot Playlist
        meta(name="viewport",content="width=1128px, initial-scale=1")
        link(type='image/png',rel='icon',href='https://mb.lolstat.net/another_icon.png')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu",rel="stylesheet")
        link(href='/css/login.css',rel='stylesheet')
        link(href='/font-awesome-4.6.3/css/font-awesome.min.css',rel='stylesheet')
        script if (typeof module === 'object') {window.module = module; module = undefined;}
        script(src='/js/jquery-3.1.0.min.js')
        script if (window.module) module = window.module;
        script.
            $(document).ready(function (e) {
                $("#loginform").attr("action", window.location.href)
            });
    body
        .bg_opacity
        .loginSidebar
            .motorbotIcon
                img(src="https://mb.lolstat.net/another_icon.png")
                .motorbot MotorBot
            form(id="loginform", class="form", method="POST", action="/api/oauth2/login", autocomplete="off")
                h3 | &nbsp;<b>Welcome Back</b><br /><span>&nbsp; &nbsp;Please login to your account</span>
                if err != ""
                    .error <i class="fa fa-times"></i> &nbsp; #{err}
                .username_wrapper
                    .txt Username
                    input(type="text", name="user", placeholder="enter your username", autocomplete="off")
                .password_wrapper
                    .txt Password
                    input(type="password", name="pass", placeholder="enter your password")
                .button_wrapper
                    input(type="submit", value="Login")
                    .register
                        a(href="/loginflow/register") Sign up