.contentWrapper
    br
    br
    .contentTitle Playlists
    .newPlaylistButton.button.blue <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; NEW PLAYLIST
    br
    ul.playlistList

.modalFrame.newPlaylist
    input#newPlaylistName(type="text",placeholder="Playlist Name")
    input.blue#newPlaylistConfirm(type="submit",value="DONE")
    .cancel(onclick="$(this).parent().css('display','none'); $('.modalityOverlay').css('display','none');") Cancel