.header
    .bg(style="")
    .playlistType PLAYLIST
    .playlistName
    .playlistDescription
    .playlistStats
        .statFrame.author
            .txt Created by
            .value <span class="user"></span>
        .statFrame.totalSongs
            .txt &bull;
            .value <span class="songTotal">0</span> songs,
        .statFrame.totalPlayTime
            .txt &bull;
            .value <span class="songTotalPlaytime">0 hr 0 mins</span>
        .statFrame.numberOfFollowers
            .txt Followers
            br
            .value <span class="followCount"></span>
    .playlistOptions
        .playPlaylistButton <i class="fas fa-play" aria-hidden="true"></i> &nbsp; &nbsp;PLAY
        -var isFollowingPlaylist = false
        each playlist in user.playlists
            if playlist == playlistId
                - isFollowingPlaylist = true
        if isFollowingPlaylist
            .followPlaylistButton.following(style='width: 104px; text-align: center;',onmouseover="$(this).html('UNFOLLOW');",onmouseout="$(this).html('FOLLOWING');") FOLLOWING
        else
            .followPlaylistButton(style='width: 104px; text-align: center;') FOLLOW
        .playlistExtraOptions#playlistMore <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
    .artwork#playlist_artwork(style="background: rgba(20, 20, 23, 1.00);")
ul#playlist
    li.titleRow
        .trackRow
            .item &nbsp;
            .title SONG
            .artist ARTIST
            .album ALBUM
            .timestamp <i class="fa fa-calendar" aria-hidden="true"></i>
            .time <i class="fas fa-stopwatch" aria-hidden="true"></i>
#song_info
    .song_info_header
        .song_artwork
        .song_title
        .song_artist
        .song_album
    .song_info_wrapper
        table
            tr
                td song
                td <input type="text" class="song_input_title">
            tr
                td artist
                td <input type="text" class="song_input_artist">
            tr
                td album
                td <input type="text" class="song_input_album">
            tr
                td album artist
                td <input type="text" class="song_input_album_artist">
            tr
                td composer
                td <input type="text" class="song_input_composer">
    .song_info_footer
        input(type="button",value="OK",onclick="$('#song_info').css('display','none')")
        input.cancel(type="button",value="Cancel",onclick="$('#song_info').css('display','none')")
    .song_info_raw(style="position: absolute; top: 200px;")