.contentWrapper(style="text-align: center;")
    //.contentTitle Podcast Dashboard
    br
    br
    #fullscreen_button.button <i class="fas fa-expand"></i>
    ul#podcast_list
    .podcast_background_overlay

link(href='/css/fa/brands.css', rel='stylesheet')