.playlistQueueContainer
    .playlistTitle Current Song
    ul.songList#currentSong
        li.titleRow
            .trackRow
                .title SONG
                .artist ARTIST
                .album ALBUM
                .time <i class="fa fa-clock-o" aria-hidden="true"></i>

.playlistQueueContainer
    .playlistTitle Queued Songs
    .clearQueueButton.button.blue <i class="fa fa-trash" aria-hidden="true"></i> &nbsp; Clear
    ul.songList#queueList
        li.titleRow
            .trackRow
                .title SONG
                .artist ARTIST
                .album ALBUM
                .time <i class="fa fa-clock-o" aria-hidden="true"></i>

.playlistQueueContainer
    .playlistTitle Next Songs
    ul.songList#nextSongsList
        li.titleRow
            .trackRow
                .title SONG
                .artist ARTIST
                .album ALBUM
                .time <i class="fa fa-clock-o" aria-hidden="true"></i>