ul#playlist(style="margin-top: 0;")
    li.titleRow(style="top: 0; background: #2A2D32;")
        .trackRow
            .item &nbsp;
            .title SONG
            .artist ARTIST
            .album ALBUM
            .timestamp <i class="fa fa-calendar" aria-hidden="true"></i>
            .time <i class="fa fa-clock-o" aria-hidden="true"></i>