*
  -webkit-font-smoothing antialiased

body
html
  margin 0
  padding 0
  background rgb(218, 216, 217)
  color rgb(41, 50, 55)
  font-family 'Open Sans', sans-serif
  font-size 13px
  font-weight 500
  min-width 1128px
  width 100%
  height 100%
  overflow hidden

body
  background-image url('../destiny_wallpaper.jpg')
  background-size cover
  background-repeat no-repeat
  background-position center center

.id
  position absolute
  bottom 5px
  right 5px
  color rgba(41, 52, 58, 0.6)
  font-family Arial, sans-serif
  font-size 10px
  font-weight 400
  letter-spacing 2px

.wrapper
  width calc(100% - 120px)
  height calc(100% - 120px)
  padding 60px

.back_button
  position absolute
  top 0
  left 60px
  font-family Arial, sans-serif
  font-size 12px
  font-weight 400
  width 150px
  line-height 34px
  text-align center
  margin-top 40px
  color rgb(41, 52, 58)
  border 1px solid rgb(41, 52, 58)
  cursor pointer
  letter-spacing 2px
  text-transform uppercase
  z-index 100
  &:hover
    background rgb(41, 52, 58)
    color #fff

.title
  width calc(100% - 20px)
  margin-top -50px
  border-bottom 1px solid rgb(41, 50, 55)
  height 200px
  position relative
  top 0
  & .xur_title
    position absolute
    bottom 0
    left 0
    font-family Arial, sans-serif
    font-size 80px
    font-weight 700
    color rgb(41, 52, 58)
    width 750px
    opacity 0
    animation xur_title_fade_in 0.8s
    animation-fill-mode forwards
    &:before
      content ''
      position absolute
      width 93%
      height 30px
      border 1px solid #aaa
      top -63px
      left 10.5px
    & .txt
      position absolute
      bottom 0
      left 0
      z-index 100
      opacity 0
      animation xur_title_fade_in 0.8s
      animation-fill-mode forwards
      animation-delay 0.4s
  & .xur_char
    float right
    margin-right -20px
    opacity 0
    height 200px
    animation xur_char_fade_in 0.8s
    animation-fill-mode forwards
    & img
      height 200px
      transform scaleX(-1)
  & .xur_extras
    float right
    width 440px
    height 180px
    padding 10px
    color rgb(41, 52, 58)
    font-family Arial, sans-serif
    font-size 16px
    position relative
    top 0
    overflow hidden
    & .xur_location
      padding-bottom 5px
      border-bottom 2px solid rgba(155, 155, 153,1)
      width 450px
      position absolute
      right -200px
      opacity 0
      animation xur_location_fade_in 0.8s
      animation-fill-mode forwards
    & .leg_items_wrapper
      position absolute
      top 55px
      overflow hidden
      width 450px
      height 130px
      & .legendary_items
        list-style none
        margin 0
        padding 0
        position absolute
        top -15px
        margin-left 6px
        opacity 0
        animation xur_leg_items_fade_in 0.8s
        animation-delay 0.6s
        animation-fill-mode forwards
        & li
          width 220px
          height 48px
          margin-top 17px
          float left
          & img
            float left
            height 48px
          & .item_name
            font-family Arial, sans-serif
            font-size 12px
            font-weight 400
            color rgb(41, 52, 58)
            float left
            margin-left 10px
            width 160px
            text-transform uppercase
            letter-spacing 3px
            line-height 24px
          & .item_cost
            float left
            font-family Arial, sans-serif
            font-size 14px
            font-weight 700
            margin-left 10px
            color rgb(41, 52, 58)
            & img
              height 20px
              margin-top 0
              float left
            & .cost_amount
              float left
              margin-top 2px
              margin-left 4px


@keyframes xur_title_fade_in
  0%
    opacity 0
    left -30px
  100%
    opacity 1
    left 0

@keyframes xur_location_fade_in
  0%
    opacity 0
    right -200px
  100%
    opacity 1
    right 0

@keyframes xur_char_fade_in
  0%
    opacity 0
    margin-right -20px
  100%
    opacity 1
    margin-right 20px

@keyframes xur_leg_items_fade_in
  0%
    opacity 0
    top -15px
  100%
    opacity 1
    top 0

.exotic_items_wrapper
  width 100%
  height 0%
  float left
  position relative
  top 0
  opacity 0
  animation exotic_items_wrapper_fadein 0.8s
  animation-delay 0.8s
  animation-fill-mode forwards

@keyframes exotic_items_wrapper_fadein
  0%
    opacity 0
    height 0%
  100%
    opacity 1
    height calc(100% - 150px)

.exotic_item
  width calc(25% - 60px)
  height 100%
  margin-right 35px
  padding-top 30px
  padding-right 35px
  border-right 1px solid rgb(41, 50, 55)
  float left
  position relative
  top 0
  &:last-child
    border-right 0 solid transparent
    margin-right 0
    padding-right 0
  & .item_header
    width 100%
    height 96px
    padding 0
    margin-top 0.5px
    //border-bottom 1px solid rgb(41, 50, 55)
    position relative
    top 0
    & .item_img
      margin 0
      padding 0
      width 96px
      height 96px
      float left
      position relative
      top 0
      margin-left -35px
      opacity 0
      animation item_header_icon_fade_in 0.8s
      animation-delay 0.8s
      animation-fill-mode forwards
      & .item_cost
        position absolute
        bottom 0
        left 0
        font-family Arial, sans-serif
        font-size 14px
        font-weight 700
        color rgba(255,255,255,0.8)
        background rgba(41, 52, 58, 0.7)
        border-top-right-radius 4px
        padding-left 5px
        padding-right 5px
        & img
          height 20px
          margin-top 5px
          margin-bottom 5px
          float left
        & .cost_amount
          float left
          margin-top 7px
          margin-left 4px
    & .item_type
      font-family Arial, sans-serif
      font-size 13px
      font-weight 400
      color rgb(41, 52, 58)
      float left
      margin-left -15px
      width calc(100% - 120px)
      text-transform uppercase
      letter-spacing 5px
      line-height 24px
      opacity 0
      animation item_header_fade_in 0.8s
      animation-delay 0.8s
      animation-fill-mode forwards
    & .item_name
      margin-top 3px
      font-family Arial, sans-serif
      font-size 27px
      font-weight 700
      color rgb(41, 52, 58)
      float left
      margin-left -15px
      width calc(100% - 120px)
      opacity 0
      animation item_header_fade_in 0.8s
      animation-delay 0.8s
      animation-fill-mode forwards
  & .item_class_restrictions
    font-family Arial, sans-serif
    font-size 12px
    font-weight 400
    color rgba(255,255,255,0.8)
    background-color rgba(41, 52, 58, 0.9)
    float left
    width calc(100% - 10px)
    padding-left 10px
    line-height 34px
    letter-spacing 0.5px
    overflow hidden
    margin-left -35px
    opacity 0
    animation item_header_icon_fade_in 0.8s
    animation-delay 0.8s
    animation-fill-mode forwards
    & .class_icon
      width 18px
      height 28px
      float left
      margin-top 2px
      opacity 0.7
      &.hunter
        background url('../hunter.png') no-repeat center
        background-size 100%
      &.warlock
        background url('../warlock.png') no-repeat center
        background-size 100%
      &.titan
        background url('../titan.png') no-repeat center
        background-size 100%
      &.noclass
        background url('../xur_icon.png') no-repeat center
        background-size 100%
        opacity 1.0
    & .txt
      float left
      margin-left 10px
      width calc(50% - 40px)
    & .item_tier_type
      background rgba(244, 199, 91, 0.7)
      margin-right -10px
      width 45%
      float right
      transform skewX(-25deg)
      & .txt
        transform skewX(25deg)
        margin-left -20px
        text-align right
        width 100%
  & .item_desc
    width 100%
    padding 20px 0
    float left
    margin 0
    border-bottom 1px solid rgb(41, 50, 55)
    color rgb(41, 52, 58)
    position relative
    top 0
    font-family Arial, sans-serif
    font-size 17px
    font-weight 400
    margin-top -40px
    opacity 0
    animation items_fade_in 0.8s
    animation-delay 1.6s
    animation-fill-mode forwards
    & .investmentStat
      width 110px
      &:first-child
        float left
      &:nth-child(2)
        float left
        margin-left calc(50% - 165px)
      &:last-child
        float right
      & img
        float left
        filter invert(100%)
        height 34px
        margin-top 10px
      & .amount
        float left
        margin-left 5px
        width calc(100% - 60px)
        font-family Arial, sans-serif
        font-size 20px
        font-weight 600
        line-height 24px
        margin-top 8px
      & .investmentStatType
        float left
        margin-left 5px
        width calc(100% - 60px)
        font-family Arial, sans-serif
        font-size 15px
        font-weight 400
  & .item_sockets
  & .mods
    list-style none
    margin 0
    padding 0
    float left
    margin-top -40px
    opacity 0
    & li
      padding 10px
      min-height 55px
      & img
        float left
        height 55px
        border-radius 50%
        filter invert(100%)
        border 1px solid #fff
        &.Intrinsic
          background rgba(215, 194, 101, 1)
          filter invert(0%)
          border 0 solid transparent
      & .socket_title
        float left
        font-weight 700
        margin-top 5px
        color rgb(41, 52, 58)
        font-family Arial, sans-serif
        font-size 15px
        width calc(100% - 100px)
        margin-left 20px
      & .socket_desc
        display inline-block
        margin-top 5px
        color rgb(41, 52, 58)
        font-family Arial, sans-serif
        font-size 14px
        width calc(100% - 100px)
        height 100%
        margin-left 20px
        white-space pre-wrap //to render \n's
  & .item_sockets
    animation items_fade_in 0.8s
    animation-delay 2.4s
    animation-fill-mode forwards
  & .mods
    border-bottom: 1px solid #000
    animation items_fade_in 0.8s
    animation-delay 2.0s
    animation-fill-mode forwards
    & li
      min-height 55px
      height auto
      & img
        float left
        height 55px
        border-radius 5px
        filter invert(0%)
        border 0 solid transparent
      & .socket_title
        margin-top 0
  & .actions_button
    font-family Arial, sans-serif
    font-size 12px
    font-weight 400
    width calc(100% - 35px)
    line-height 34px
    text-align center
    position absolute
    bottom 0
    color rgb(41, 52, 58)
    border 1px solid rgb(41, 52, 58)
    cursor pointer
    letter-spacing 2px
    text-transform uppercase
    &:hover
      background rgb(41, 52, 58)
      color #fff
  &:last-child .actions_button
    width 100%


@keyframes item_header_icon_fade_in
  0%
    opacity 0
    margin-left -35px
  100%
    opacity 1
    margin-left 0

@keyframes item_header_fade_in
  0%
    opacity 0
    margin-left -15px
  100%
    opacity 1
    margin-left 20px

@keyframes items_fade_in
  0%
    opacity 0
    margin-top -35px
  100%
    opacity 1
    margin-top 0

.xur_icon_overlay
  width 512px
  height 512px
  position absolute
  top calc(50% - 256px)
  right -156px
  background url('../xur_icon.png') no-repeat center
  background-size cover
  opacity 0.3

.countdown
  width 700px
  height 400px
  position absolute
  left calc(50% - 350px)
  top calc(50% - 200px)
  text-align center
  & .icon
    width 100%
    height 80px
    &:before
      content ''
      position absolute
      top 173px
      left -100px
      opacity 0
      width calc(50% - 80px)
      height 2px
      background rgba(155, 155, 153,1)
      animation left_line 1.6s
      animation-delay 0.2s
      animation-fill-mode forwards
    &:after
      content ''
      position absolute
      top 173px
      right -100px
      opacity 0
      width calc(50% - 80px)
      height 2px
      background rgba(155, 155, 153,1)
      animation right_line 1.6s
      animation-delay 0.2s
      animation-fill-mode forwards
    & .xur_icon
      width 100px
      height 100px
      position absolute
      left calc(50% - 50px)
      top 124px
      background url('../xur_icon_small.png') no-repeat center
      background-size cover
      opacity 0
      animation xur_icon_fade_in 1.6s
      animation-delay 0.2s
      animation-fill-mode forwards
      &:before
        content ''
        position absolute
        left 15px
        top 15px
        width 70px
        height 70px
        border 1px solid rgba(100, 100, 100, 0.3)
        animation rotate 6.0s linear infinite
  & .txt
    font-family Arial, sans-serif
    font-size 13px
    font-weight 400
    width 100%
    text-align center
    margin-top 60px
    color rgb(41, 52, 58)
    letter-spacing 2px
    text-transform uppercase
    opacity 0
    animation countdown_fade_in 0.8s
    animation-delay 2.0s
    animation-fill-mode forwards
  & .button
    display inline-block
    font-family Arial, sans-serif
    font-size 12px
    font-weight 400
    width 220px
    line-height 34px
    text-align center
    margin-top 40px
    color rgb(41, 52, 58)
    border 1px solid rgb(41, 52, 58)
    cursor pointer
    letter-spacing 2px
    text-transform uppercase
    opacity 0
    animation countdown_fade_in 0.8s
    animation-delay 2.0s
    animation-fill-mode forwards
    &:hover
      background rgb(41, 52, 58)
      color #fff
  & .countdown_frame
    width 120px
    height 120px
    float left
    margin-right 50px
    margin-top 20px
    opacity 0
    animation countdown_fade_in 0.8s
    animation-delay 2.0s
    animation-fill-mode forwards
    & .time
      font-family Arial, sans-serif
      font-size 90px
      font-weight 500
      color rgb(41, 52, 58)
      text-align right
    & .name
      font-family Arial, sans-serif
      font-size 13px
      font-weight 400
      float right
      color rgb(41, 52, 58)
      letter-spacing 2px
      text-transform uppercase


@keyframes left_line
  0%
    opacity 0
    left -100px
    top 173px
  50%
    opacity 1
    left 0
    top 173px
  100%
    opacity 1
    left 0
    top 73px

@keyframes right_line
  0%
    opacity 0
    right -100px
    top 173px
  50%
    opacity 1
    right 0
    top 173px
  100%
    opacity 1
    right 0
    top 73px

@keyframes xur_icon_fade_in
  0%
    opacity 0
    top 124px
  50%
    top 124px
  60%
    opacity 1
  100%
    opacity 1
    top 24px

@keyframes countdown_fade_in
  0%
    opacity 0
  100%
    opacity 1

@keyframes rotate
  0%
    transform rotate(0deg)
  100%
    transform rotate(359deg)
