*
  -webkit-font-smoothing antialiased

body
  margin 0
  padding 0
  background url('../bg.jpg') no-repeat
  background-size cover
  color #fff
  font-family 'Ubuntu', 'Open Sans', sans-serif
  font-size 13px
  font-weight 500
  min-width 1128px
  overflow hidden

.sidebar
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  width 25%
  height 100%
  background rgba(42, 45, 50, 0.95)

.bg_opacity
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  width 100%
  height 100%
  background rgba(42, 45, 50, 0.95)

.form
  position absolute
  left 15%
  top calc(50% - 170px)
  width 450px
  border-top-right-radius 4px
  border-bottom-right-radius 4px
  border-left 4px solid #03A4D8
  padding 30px
  background #2A2D32
  box-shadow 0 0 50px rgba(0,0,0,0.4)
  & h1
    font-family 'Ubuntu', 'Open Sans', sans-serif
    font-size 38px
    color #fff
    font-weight 300
  & .error
    width 100%
    padding 4px 10px
    line-height 30px
    background rgba(238, 62, 62, 1.00)
    color rgba(0,0,0,0.5)
    border-radius 3px
  & input[type="text"], input[type="password"]
    width calc(100% - 20px)
    line-height 32px
    background rgba(0,0,0,0.2)
    padding 4px 10px
    font-family 'Ubuntu', 'Open Sans', sans-serif
    font-size 13px
    border-radius 3px
    border 0 solid transparent
    color #fff
    margin-top 12px
    &::-webkit-input-placeholder
      color rgba(255,255,255,0.1)
    &:focus
      outline none
  & input[type="submit"]
    width 40%
    background rgba(3, 164, 216, 1.00)
    border 0 solid transparent
    color #fff
    font-family 'Ubuntu', 'Open Sans', sans-serif
    font-size 13px
    font-weight bold
    line-height 32px
    margin-top 16px
    border-radius 3px
    cursor pointer
    &:focus
      outline none
    &:active
      outline none
  & .register
    width calc(60% - 12px)
    text-align right
    margin-left 10px
    display inline-block
    & a
      text-decoration none
      color rgba(3, 164, 216, 1.00)

.auth-error
  position absolute
  left calc(63% - 150px)
  top calc(50% - 90px)
  width 300px
  text-align center
  & .icon
    display inline-block
    line-height 50px
    width 50px
    background rgba(0,0,0,0.1)
    position relative
    top 0
    border-radius 50%
    color #fff
    font-size 30px
    margin-bottom 30px
    &:after
      content ''
      position absolute
      top -6px
      left -6px
      right -6px
      bottom -6px
      width auto
      height auto
      border 4px solid rgba(255,255,255,0.3)
      border-radius 50%
  & h1
    text-transform uppercase
    margin 6px
    padding 0
  & p
    margin 6px
    padding 0
  & .userFriendly
    color #888
    font-style italic