body
html
  margin 0
  padding 0
  background rgba(23, 23, 23, 1.00)
  color #fff
  font-family 'Ubuntu', 'Open Sans', sans-serif
  font-size 13px
  font-weight 500
  overflow hidden

.titleBar
  position fixed
  z-index 120
  top 0
  left 0
  right 0
  height 30px
  width 100%
  background rgba(22, 22, 22, 1.00)

.playerBar
  position fixed
  z-index 120
  bottom 0
  left 0
  right 0
  width 100%
  height 60px
  border-top 1px solid rgba(22, 22, 22, 1.00)
  background rgba(27, 29, 32, 1.00)
  .controls
    position absolute
    top 12px
    left 15px
    font-size 20px
    & .prev
      float left
      margin-top 5px
      line-height 30px
      padding-bottom 2px
      width 32px
      text-align center
      border-radius 50%
    & .skip
      float left
      margin-left 10px
      margin-top 5px
      line-height 30px
      padding-bottom 2px
      width 32px
      text-align center
      border-radius 50%
    & .playStopButton
      float left
      margin-left 10px
      line-height 36px
      padding-bottom 2px
      width 38px
      border 1px solid #fff
      text-align center
      border-radius 50%
      cursor pointer
      &:hover
        border-color rgba(54, 142, 245, 1.00)
  & .duration
    font-size 11px
    color rgba(255,255,255,0.6)
    position absolute
    top 23px
    left 135px
    text-align right
    width 60px
  & .songDuration
    font-size 11px
    color rgba(255,255,255,0.6)
    position absolute
    top 23px
    right 0
    text-align left
    width 60px
  & .timelineWrapper
    float right
    width calc(100% - 265px)
    margin 27px 65px
    height 5px
    background rgba(255,255,255,0.1)
    border-radius 30px
    overflow hidden
    & .timeline
      width 0%
      height 5px
      border-radius 30px
      background rgba(54, 142, 245, 1.00)


.bodyWrapper
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden
  width auto
  height auto
  width 100%
  min-width 1200px
/*
.sidebar
  width 200px
  height 100%
  position absolute
  top 0
  left 0
  bottom 60px
  background rgba(41, 43, 47, 1.00)
*/
.contentView
  width 100%
  min-width 1000px
  height auto
  position absolute
  top 0
  right 0
  bottom 60px
  overflow auto

.contextMenu
  display none
  margin 0
  padding 10px 0
  position absolute
  top 0
  left 0
  z-index 1000
  width 210px
  height auto
  max-height 333px
  background rgba(27, 29, 32, 1.00)
  box-shadow 0 0 8px rgba(0,0,0,0.8)
  & ul
    list-style none
    margin 0
    padding 0
    width 100%
    & li
      width calc(100% - 30px)
      padding 10px 15px
      cursor pointer
      color #eee
      &:hover
        background rgba(62, 152, 246, 1.00)

.header
  width 100%
  height 164px
  background rgba(36, 36, 36, 1.00)
  background-image url('../playlistbg.png')
  background-repeat no-repeat
  background-position center
  background-size cover
  color #fff
  font-size 26px
  font-family Helvetica Neue, Helvetica, Arial, sans-serif
  font-weight 300
  position fixed
  top 0
  & .playing
    position absolute
    top 20px
    left 50px

#playlist
  list-style none
  margin 0
  padding 0
  width 100%
  height 100%
  & li
    float left
    width calc(100% - 60px)
    margin 0 20px
    padding 15px 10px
    cursor pointer
    background transparent
    border-bottom 1px solid rgba(36, 36, 36, 1.00)
    &:nth-child(2n)
      //background #2c323c
    &:hover
      background rgba(36, 36, 36, 1.00)
    &.titleRow
      font-weight 400
      color rgba(255,255,255,0.8)
      font-size 12px
      border-bottom 1px solid rgba(36, 36, 36, 1.00)
      position fixed
      top 120px
      left 0
      width calc(100% - 60px)
      right 20px
      background transparent
      cursor default
      &:hover
        background transparent
    &:nth-child(2)
      margin-top 167px
    & .item
      display inline-block
      width 3%
      text-align center
      & .play
        font-size 14px
    & .title
      display inline-block
      width 50%
    & .videoId
      display inline-block
      width 10%
      & a
        text-decoration none
        color inherit
    & .time
      display inline-block
      width 7%
    & .status
      display inline-block
      width 15%
    & .added
      display inline-block
      width 10%
    & .user
      display inline-block
      width 20%
    &.trackPlaying
      color rgba(62, 152, 246, 1.00) !important


.errorList
  position fixed
  top 0
  right 10px
  width 380px
  height auto
  color rgba(0,0,0,0.4)
  z-index 10
  & ul
    list-style none
    margin 0
    padding 0
    width 100%
    height auto
    & li
      float left
      width calc(100% - 8px)
      margin 10px 0
      position relative
      top 0
      border-radius 3px
      overflow hidden
      background rgba(62, 152, 246, 1.00)
      cursor pointer
      &.fatal
        background rgba(238, 62, 62, 1.00)
      &:hover
        opacity 0.9
    & li .icon
      position absolute
      top 0
      left 0
      bottom 0
      font-size 20px
      text-align center
      width 55px
      height auto
      background rgba(255,255,255,0.2)
      & .iconWrapper
        position absolute
        top calc(50% - 11px)
        left calc(50% - 11px)
        width 22px
        height 22px
        text-align center
        line-height 22px
    & li .content
      padding 18px 8px
      float left
      margin-left 60px
      height auto
      width 300px
      color rgba(0,0,0,0.4)

#socketClose
  display none
