$sidebarWidth = 75px;

*
  -webkit-font-smoothing antialiased


body
html
  margin 0
  padding 0
  background rgba(29, 29, 35, 1.00)
  color #fff
  font-family 'Ubuntu', 'Open Sans', sans-serif
  font-size 13px
  font-weight 500
  overflow hidden

.titleBar
  position fixed
  z-index 120
  top 0
  left 0
  right 0
  height 50px
  width 100%
  background rgba(20, 20, 24, 1.00)
  & .siteIcon
    position absolute
    top 5px
    left 20px
    line-height 50px
    & img
      width 40px
  & .search
    float left
    margin-left 90px
    padding 0
    width 280px
    background transparent
    border 0 solid transparent
    line-height 34px
    font-size 14px
    margin-top 8px
    color #fff
    &:focus
      outline none
  & .nav
    float left
    list-style none
    margin 0
    padding 0
    margin-left 30px
    & li
      float left
      margin-top 10px
      line-height 30px
      padding 0 25px
      cursor pointer
      font-size 14px
      color rgba(255,255,255,0.6)
      &:first-child
        padding-left 50px
        border-left 1px solid rgba(255,255,255,0.1)
      &:hover
        color #fff
      &.active
        color rgba(0, 179, 237, 1.00)
        &:hover
          color rgba(0, 179, 237, 1.00)
  & .bell
    position absolute
    top 6px
    right 120px
    line-height 40px
    color rgba(255,255,255,0.4)
    font-size 15px
    cursor pointer
  & .profileIcon
    position absolute
    top 5px
    right 40px
    width 40px
    height 40px
    border-radius 50%
    background rgba(0,0,0,0.4)

.playerBar
  position fixed
  z-index 120
  bottom 0
  left 0
  right 0
  width 100%
  height 60px
  background rgba(22, 21, 26, 1.00)
  .controls
    position absolute
    top 12px
    left 15px
    font-size 20px
    & .prev
      float left
      margin-top 5px
      line-height 30px
      padding-bottom 2px
      width 32px
      text-align center
      border-radius 50%
    & .skip
      float left
      margin-left 7px
      margin-top 5px
      line-height 30px
      padding-bottom 2px
      width 32px
      text-align center
      border-radius 50%
    & .playStopButton
      float left
      margin-left 10px
      line-height 38px
      padding-bottom 2px
      width 38px
      font-size 24px
      text-align center
      border-radius 50%
      cursor pointer
  & .activeArtwork
    position absolute
    top 5px
    left 150px
    height 50px
    width 50px
    border-radius 3px
  & .duration
    display none
    font-size 11px
    color rgba(255,255,255,0.6)
    position absolute
    top 24px
    left 335px
    text-align right
    width 60px
  & .songDuration
    color rgba(255,255,255,0.6)
    position absolute
    top 14px
    right 60px
    with 60px
    text-align right
    width 60px
    font-size 13px
  & .activeTrack
    position absolute
    top 10px
    font-size 14px
    font-weight 600
    left 225px
    color #fff
    width 440px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    & span
      font-weight 500
      color rgba(255,255,255,0.8)
  & .timelineWrapper
    float right
    width calc(100% - 280px)
    margin 38px 59px
    height 5px
    background rgba(255,255,255,0.1)
    border-radius 30px
    overflow hidden
    & .timeline
      width 0%
      height 3px
      border-radius 30px
      background rgba(0, 179, 237, 0.8)
      border 1px solid rgba(0, 179, 237, 1.00)
  & .queue
    position absolute
    right 18px
    top 19px
    font-size 18px
    cursor pointer
    color rgba(255,255,255,0.5)


.bodyWrapper
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden
  width auto
  height auto
  width 100%
  min-width 1200px

.sidebar
  width $sidebarWidth
  height 100%
  position absolute
  top 0
  left 0
  bottom 60px
  background rgba(36, 36, 36, 1.00)
  & .motorbotIcon
    width 61px
    height 61px
    margin 8px 6px
  & .sep
    width 100%
    height 1px
    background rgba(22, 22, 22, 1.00)


.contentView
  width 100%
  min-width 1000px
  height auto
  position absolute
  top 0
  right 0
  bottom 60px
  overflow auto

.contextMenu
  display none
  margin 0
  padding 10px 0
  position absolute
  top 0
  left 0
  z-index 1000
  width 210px
  height auto
  max-height 333px
  background rgba(27, 29, 32, 1.00)
  box-shadow 0 0 5px rgba(0,0,0,0.3)
  border-radius 4px
  overflow hidden
  & ul
    list-style none
    margin 0
    padding 0
    width 100%
    & li
      width calc(100% - 30px)
      padding 10px 15px
      cursor pointer
      color #eee
      &:hover
        background rgba(62, 152, 246, 1.00)
      &.sep
        width 100%
        height 1px
        padding 0
        margin 9px 0
        background rgba(43, 45, 47, 0.8)

.header
  width 100%
  height 300px
  background rgba(29, 29, 35, 1.00)
  color #fff
  font-size 26px
  font-family Helvetica Neue, Helvetica, Arial, sans-serif
  font-weight 400
  position absolute
  top 50px
  left 0
  overflow hidden
  & .bg
    width 120%
    height 120%
    position absolute
    top -10%
    left -10%
    right -10%
    bottom -10%
    opacity 0.2
    -webkit-filter blur(15px)
    -moz-filter blur(15px)
    -o-filter blur(15px)
    filter blur(15px)
  & .playlistType
    position absolute
    left calc(50% - 564px)
    top 85px
    width 1128px
    font-size 16px
    font-weight 400
    color rgba(200,200,200,0.8)
  & .playlistName
    position absolute
    left calc(50% - 564px)
    top 110px
    width 1128px
    font-size 38px
    color #fff
  & .playlistStats
    position absolute
    left calc(50% - 564px)
    top 160px
    width 1128px
    font-size 15px
    font-weight 500
    color rgba(200,200,200,0.8)
    & span.user
      color #fff
      cursor pointer
      &:hover
        text-decoration underline
  & .playing
    position absolute
    top 20px
    left 50px
  & .playPlaylistButton, .followPlaylistButton
    position absolute
    top 200px
    left calc(50% - 564px)
    border-radius 50px
    padding 6px 30px
    font-family Helvetica Neue, Helvetica, Arial, sans-serif
    font-weight 500
    font-size 13px
    border: 1px solid rgba(0, 179, 237, 1.00)
    color #fff
    background rgba(0, 179, 237, 1.00)
    cursor pointer
    opacity 0.9
    &:hover
      opacity 1
  & .followPlaylistButton
    background rgba(0,0,0,0.4)
    border: 1px solid rgba(200,200,200,1.0)
    left calc(50% - 424px)
  & .artwork
    position absolute
    top 56px
    left calc(50% + 389px)
    width 175px
    height 175px
    box-shadow 0 0 6px rgba(0,0,0,0.4)

#playlist
  list-style none
  margin 0
  margin-top 182px
  padding 0
  width 100%
  min-width 1128px
  height 100%
  & li
    float left
    width calc(100% - 20px)
    min-width 1128ox
    padding 13px 10px
    cursor pointer
    //background rgba(34, 34, 41, 1.00)
    font-size 12px
    border-bottom 1px solid rgba(36, 36, 36, 1.00)
    &:nth-child(2n)
      //background rgba(41, 41, 49, 1.00)
    &:hover
      background rgba(69, 69, 78, 0.4)
    &.titleRow
      font-weight 400
      color rgba(255,255,255,0.8)
      font-size 12px
      position absolute
      top 308px
      left 0
      width calc(100% - 20px)
      right 20px
      background transparent
      cursor default
      &:hover
        background transparent
    &:nth-child(2)
      margin-top 167px
    & .trackRow
      max-width 1128px
      margin-left calc(50% - 564px)
      & .item
        display inline-block
        width 45px
        text-align left
        & .play
          font-size 14px
      & .title
        display inline-block
        width 362px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        padding-right 10px
      & .artist
        display inline-block
        width 250px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        padding-right 10px
      & .album
        display inline-block
        width 250px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        padding-right 10px
      & .time
        display inline-block
        width 90px
        text-align right
        opacity 0.6
      & .added
        display inline-block
        width 100px
        opacity 0.6
    &.trackPlaying
      color rgba(0, 179, 237, 1.00) !important
      opacity 1.0 !impotant

.errorList
  position fixed
  top 50px
  right 10px
  width 380px
  height auto
  color rgba(0,0,0,0.4)
  z-index 10
  & ul
    list-style none
    margin 0
    padding 0
    width 100%
    height auto
    & li
      float left
      width calc(100% - 8px)
      margin 10px 0
      position relative
      top 0
      border-radius 3px
      overflow hidden
      background rgba(62, 152, 246, 1.00)
      cursor pointer
      &.fatal
        background rgba(238, 62, 62, 1.00)
      &:hover
        opacity 0.9
    & li .icon
      position absolute
      top 0
      left 0
      bottom 0
      font-size 20px
      text-align center
      width 55px
      height auto
      background rgba(255,255,255,0.2)
      & .iconWrapper
        position absolute
        top calc(50% - 11px)
        left calc(50% - 11px)
        width 22px
        height 22px
        text-align center
        line-height 22px
    & li .content
      padding 18px 8px
      float left
      margin-left 60px
      height auto
      width 300px
      color rgba(0,0,0,0.4)

#socketClose
  display none
