.contentWrapper
    .contentHeader
        .contentTitle Account
    br
    br
    .subTitleBar
        .subWrapper
            ul.subnav#account_navigation
                li(data-view="accountView") ACCOUNT
                li(data-view="connections") CONNECTIONS
    br
    #ajax_accountView

    //--.contentTitle(style="font-size: 15px;") Raw Account Data
    //--pre(style="font-size: 12px;") #{JSON.stringify(user, null, "    ")}
