doctype html
html(lang="en")
    head
        title MotorBot: Login
        meta(name="viewport",content="width=1128px, initial-scale=1")
        link(type='image/png',rel='icon',href='https://motorbot.io/another_icon.png')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu",rel="stylesheet")
        link(href='/css/fa/fontawesome.css', rel='stylesheet')
        link(href='/css/fa/all.css', rel='stylesheet')
        link(href='/css/login.css',rel='stylesheet')
    body
        .bg_opacity
        .sideangle
        .motorbotIcon
            img(src="https://motorbot.io/another_icon.png")
            .motorbot MotorBot
        .loginSidebar
            .auth-error
                .icon <i class="fas fa-times"></i>
                h1 #{error}
                p #{error_description}
                p.userFriendly You may now close this window or tab.