doctype html
html(lang="en")
    head
        title MotorBot: Account Creation
        meta(name="viewport",content="width=1128px, initial-scale=1")
        link(type='image/png',rel='icon',href='https://motorbot.io/another_icon.png')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu",rel="stylesheet")
        link(href='/css/register.css',rel='stylesheet')
        link(href='/css/fa/fontawesome.css', rel='stylesheet')
        link(href='/css/fa/all.css', rel='stylesheet')
        script(src="https://cdn.lr-ingest.io/LogRocket.min.js",crossorigin="anonymous")
        script window.LogRocket && window.LogRocket.init('artjpw/motorbot');
    body
        .sidebar
            .bg
        .steps
            .step
                .stepNumber 1
                .info Authenticate With Discord
            .step
                .stepNumber.active 2
                .info Create Your New Account
                .details
                    p Now it's time to create your MotorBot Music account, choose a username and secure password.
                    form(method="POST",action="/loginflow/register")
                        if err
                            .error <i class="fa fa-times"></i> &nbsp; #{err}
                        input(type="text",name="user",placeholder="Username")
                        input(type="password",name="pass",placeholder="Password")
                        input(type="password",name="repeat_pass",placeholder="Repeat Password")
                        input(type="submit",value="Register")
            .step
                .stepNumber 3
                .info Enjoy