.contentWrapper
    .contentHeader
        .contentTitle My Apps
    ul#developer_apps
        li(style="background: rgba(0,0,0,0.1)")
            .createNewApp <i class="fa fa-plus" aria-hidden="true"></i>