doctype html
html(lang="en")
    head
        title MotorBot: Login
        //Mobile Web App Meta Tags
        link(rel="manifest", href="/manifest.json")
        meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no")
        meta(name="mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        link(type='image/png', rel='icon', href='https://motorbot.io/another_icon.png')
        link(href="/css/fonts-ubuntu.css", rel="stylesheet")
        link(href='/css/fa/fontawesome.css', rel='stylesheet')
        link(href='/css/fa/all.css', rel='stylesheet')
        link(href='/css/login.css', rel='stylesheet')
        script.
            window.onload = function(){
                console.log("Document Loaded");
                console.log(window.location.href);
                document.getElementById("loginform").setAttribute("action", window.location.href);
            };
    body
        -var r = Math.random()*4;
        div(class="bg_opacity " + (r > 3 ? "w1" : (r > 2 ? "w2" : (r > 1 ? "w3" : (r > 0 ? "w4" : "w1")))))
        .sideangle
        .motorbotIcon
            img(src="https://motorbot.io/another_icon.png")
            .motorbot MotorBot
        .loginSidebar
            form(id="loginform", class="form", method="POST", autocomplete="off")
                if err != ""
                    h3.error_header | &nbsp;<b>Welcome Back</b><br /><span>&nbsp; &nbsp; &nbsp;Please login to your account</span>
                    .error <i class="fa fa-times"></i> &nbsp; #{err}
                else
                    h3 | &nbsp;<b>Welcome Back</b><br /><span>&nbsp; &nbsp; &nbsp;Please login to your account</span>
                .username_wrapper
                    .txt Username
                    input(type="text", name="user", placeholder="enter your username", autocomplete="off")
                .password_wrapper
                    .txt Password
                    input(type="password", name="pass", placeholder="enter your password")
                .button_wrapper
                    input(type="submit", value="Login")
                    .register Need an account? &nbsp;
                        a(href="/loginflow/register") Register