.contentWrapper
    .bigcircle
        .artwork#currentSong_bgartwork
    #currentSong
        .artwork#currentSong_artwork
        .title#currentSong_title Nothing Currently Playing
        .album_name#currentSong_artist Album Name
        //.artist_name Artist Name
        //.length 3:40
    .playlistQueueContainer
        //.clearQueueButton.button.blue <i class="fa fa-trash" aria-hidden="true"></i> &nbsp; Clear
        ul.songList#queueList
            //li.titleRow
                .trackRow
                    .item
                    .title SONG
                    .time <i class="fas fa-stopwatch" aria-hidden="true"></i>

    .playlistQueueContainer
        ul.songList#nextSongsList
            //li.titleRow
                .trackRow
                    .item
                    .title SONG
                    .time <i class="fas fa-stopwatch" aria-hidden="true"></i>