.contentWrapper
    .contentTitle Playlists
    ul#search_playlists

    .contentTitle Songs
    ul#search_playlist
        li.titleRow
            .trackRow
                .item#item_header &nbsp;
                .title#title_header SONG
                .artist#artist_header ARTIST
                .album#album_header ALBUM
                .timestamp#timestamp_header <i class="fa fa-calendar" aria-hidden="true"></i>
                .time#time_header <i class="fas fa-stopwatch" aria-hidden="true"></i>