*
  -webkit-font-smoothing antialiased

$active_color = rgba(19, 112, 226, 1)
$active_hover = rgba(15, 82, 163, 1)
$spotify_color = #1DB954

body
html
  margin 0
  padding 0
  background rgba(17, 18, 23, 1);
  color #fff
  font-family 'Ubuntu', 'Open Sans', sans-serif
  font-size 13px
  font-weight 500
  min-width 1128px
  overflow hidden

.titlebar
  position fixed
  top 0
  left 0
  right 0
  height 60px
  background transparent
  z-index 151
  -webkit-app-region drag
  user-select none
  & .motorbotIcon
    position absolute
    top 10px
    left 10px
    & img
      width 40px
      float left
    & .motorbot
      float left
      font-size 23px
      font-weight bold
      margin-top 8px
      margin-left 4px
      color #eee
      cursor default
  & .search
    float left
    margin-left 260px
    padding 0
    width 300px
    border 0 solid transparent
    border-radius 4px
    padding-left 30px
    background rgba(0,0,0,0.5)
    line-height 34px
    font-size 13px
    margin-top 13px
    color #fff
    &::-webkit-input-placeholder
      color #55666F
    &:focus
      outline none
  & .searchAutocomplete
    display none
    position absolute
    top 42px
    left 260px
    width 330px
    background #26272a
    border-bottom-left-radius 4px
    border-bottom-right-radius 4px
    overflow hidden
    z-index 1000
    &.visible
      display block
    & ul
      margin 0
      padding 0
      list-style none
      & li
        padding 0 20px
        line-height 40px
        color #eee
        font-size 13px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        cursor pointer
        & i
          color rgba(200,200,200,0.4)
        &.active
          background #35383C
        &:hover
          background #35383C
        &:last-child
          border-bottom 0 solid transparent
  & .searchIcon
    position absolute
    top 20px
    left 270px
    font-size 14px
    color #53565C
  & .version
    position absolute
    bottom -45px
    right 13px
    text-align right
    line-height 40px
    color rgba(255, 255, 255, 0.4)
    font-size 13px
    cursor pointer
  & .motorbotSelection
    position absolute
    top 6px
    right 210px
    white-space nowrap
    & .issue
      float left
      position relative
      top 7px
      right 0
      margin-top -2px
      margin-right 30px
      border-radius 3px
      padding 0 11px
      line-height 32px
      font-family Open Sans, sans-serif
      font-weight 500
      font-size 12px
      color #fff
      background #7861ED
      border 1px solid #7861ED
      cursor pointer
      opacity 0.9
      z-index 3
      transition opacity 0.1s ease-in-out
      &:hover
        opacity 1
    & .enviromentSelection
      position relative
      top 0
      float left
      width 230px
      padding 7px 11px
      border-top-left-radius 3px
      border-top-right-radius 3px
      cursor pointer
      background transparent
      transition background 0.1s 0.1s ease-out
      &:after
        content ''
        position absolute
        right -8px
        top 6px
        height 34px
        width 2px
        background rgba(0,0,0,0.2)
      &.active
        background rgba(10, 11, 15, 1)
        transition background 0.05s 0s ease-in
      & .arrow
        margin-right 10px
        float left
        line-height 36px
        color rgba(83, 86, 92, 1)
      & .guild_icon
        float left
        width 34px
        height 34px
        border-radius 3px
        background #2A2D32
      & .guild
        float left
        width 115px
        margin-top 2px
        padding 0 10px
        height 16px
        line-height 16px
        color #fff
        font-size 12px
        font-family "Open Sans", sans-serif
        font-weight bold
      & .voice
        float left
        width 115px
        padding 0 10px
        color rgba(83, 86, 92, 1)
        font-size 11px
        font-weight 400
        height 16px
        line-height 16px
        font-family "Open Sans", sans-serif
        &.disconnect
          color rgba(83, 86, 92, 1)
        &.connected
          color rgba(45, 175, 109, 1.00)
      & .options
        position absolute
        top 49px
        right 0
        width 252px
        background rgba(10, 11, 15, 1)
        margin 0
        padding 0
        list-style none
        border-bottom-right-radius 3px
        border-bottom-left-radius 3px
        overflow hidden
        z-index 1000
        opacity 0
        transform scaleY(0)
        transform-origin top
        transition transform 0.2s cubic-bezier(0.545, 0.785, 0.695, 1.175), opacity 0.1s 0.05s ease-out
        &.visible
          opacity 1
          transform scaleY(1)
          transition transform 0.2s cubic-bezier(0.545, 0.785, 0.695, 1.175), opacity 0.05s ease-in
        & li
          padding 10px 33px
          line-height 34px
          height 34px
          color #ccc
          font-size 12px
          font-weight bold
          & i
            color #aaa
          &:hover
            background #000
          &:last-child
            border-bottom 0 solid transparent
          &.hidden
            display none
  & .profile
    position absolute
    top 6px
    right 18px
    padding 7px 13px 7px 0
    border-top-left-radius 3px
    border-top-right-radius 3px
    cursor pointer
    background: transparent
    transition background 0.1s 0.1s ease-out
    &.active
      background rgba(10, 11, 15, 1)
      transition background 0.05s 0s ease-in
    & .profileIcon
      float right
      width 34px
      height 34px
      border-radius 3px
      background #2A2D32
    & .profileName
      float right
      padding-right 10px
      width 100px
      height 36px
      line-height 16px
      color #fff
      font-size 12px
      font-family Open Sans, sans-serif
      font-weight bold
      text-align right
      & .disc
        color rgba(83, 86, 92, 1)
      & .karma
        color rgba(83, 86, 92, 1)
        font-size 11px
        & i
          font-size 10px
          color #EC7907
    & .profileArrow
      margin-left 10px
      float right
      line-height 36px
      color rgba(83, 86, 92, 1)
    & .options
      //display none
      position absolute
      top 49px
      right 0
      width 179px
      background rgba(10, 11, 15, 1)
      margin 0
      padding 0
      list-style none
      border-bottom-right-radius 3px
      border-bottom-left-radius 3px
      overflow hidden
      z-index 1000
      opacity 0
      transform scaleY(0)
      transform-origin top
      transition transform 0.2s cubic-bezier(0.545, 0.745, 0.695, 1.175), opacity 0.1s 0.05s ease-out
      &.visible
        //display block
        opacity 1
        transform scaleY(1)
        transition transform 0.2s cubic-bezier(0.545, 0.745, 0.695, 1.175), opacity 0.05s ease-in
      & li
        padding 0 20px
        line-height 40px
        color #ccc
        font-size 12px
        font-weight bold
        & i
          color #aaa
        &:hover
          background #000
        &:last-child
          border-bottom 0 solid transparent

.errorList
  position fixed
  top 60px
  right 20px
  width 380px
  height auto
  color rgba(0, 0, 0, 0.4)
  z-index 150
  & ul
    list-style none
    margin 0
    padding 0
    width 100%
    height auto
    & li
      float left
      width calc(100% - 8px)
      margin 10px 0
      position relative
      top 0
      border-radius 3px
      overflow hidden
      background #3386D0
      cursor pointer
      margin-left 300px
      opacity 0
      animation notification_fly_in 0.8s
      animation-fill-mode forwards
      transition transform .2s
      &.warn
        background #FFD358
      &.fatal
        background #EC6159
      &:hover
        transform scale(1.02)
    & li .icon
      position absolute
      top 0
      left 0
      bottom 0
      font-size 20px
      text-align center
      width 55px
      height auto
      background $active_color
      & .iconWrapper
        position absolute
        top calc(50% - 11px)
        left calc(50% - 11px)
        width 22px
        height 22px
        text-align center
        line-height 22px
    & li.warn .icon
      background rgba(255, 197, 51, 1)
    & li.fatal .icon
      background rgba(238, 62, 62, 1)
    & li .content
      padding 18px 8px
      float left
      margin-left 60px
      height auto
      width 300px
      color rgba(0, 0, 0, 0.4)

@keyframes notification_fly_in
  0%
    margin-left 300px
    opacity 0
  100%
    margin-left 0
    opacity 1

.flexContainer
  position absolute
  top 0
  left 0
  right 0
  bottom 75px
  width auto
  height auto
  display -webkit-flex
  display flex
  -webkit-flex-direction row
  flex-direction row
  -webkit-flex-wrap nowrap
  flex-wrap nowrap
  background rgba(24, 25, 29, 1)
  opacity 0
  transition opacity 0.5s ease-in
  & .simplebar-track.horizontal
    display: none !important;

.sidebar
  -webkit-flex-basis 230px
  flex-basis 230px
  height 100%
  min-width 230px
  background rgba(8, 10, 16, 1)
  overflow-y scroll
  overflow-x hidden
  position relative
  & .simplebar-track.horizontal
    display: none !important;
  & .background_icon_wrapper
    display none
    position fixed
    top 0
    left 0
    width 230px
    bottom 0
    overflow hidden
    & .background_icon
      position absolute
      left -160px
      bottom 60px
      width 350px
      height 350px
      background-image url(../another_icon.png)
      background-size cover
      filter blur(40px)
      opacity 0.3
      &:before
        content ''
        position absolute
        left 200px
        top -660px
        width 450px
        height 450px
        background-image url(../another_icon.png)
        background-size cover
        filter blur(40px)
        opacity 0.8
  & .scrollFader
    position fixed
    left 0
    right 0
    width 230px
    height 90px
    z-index 2
    &.top
      top 0
      background linear-gradient(to top, rgba(8, 10, 16, 0) 0%, rgba(8, 10, 16, 1) 60%, rgba(8, 10, 16, 1) 100%)
    &.bottom
      bottom 0
      height 140px
      background linear-gradient(to bottom, rgba(8, 10, 16, 0) 0%, rgba(8, 10, 16, 1) 40%, rgba(8, 10, 16, 1) 100%)
  & .title
    font-family 'Montserrat', sans-serif
    font-size 14px
    font-weight 600
    color rgba(76, 82, 91, 1)
    margin-left 10px
    margin-top 30px
    margin-bottom 15px
  & .spacer
    width 230px
    height 60px
  & ul
    list-style none
    margin 0
    padding 0
    width 230px
    margin-top 5px
    margin-left -3px
    & li
      position: relative
      top 0
      width calc(100% - 55px)
      line-height 38px
      color rgba(126, 132, 141, 1)
      padding-left 20px
      padding-right 20px
      font-weight 600
      margin-top 2px
      font-family 'Montserrat', sans-serif
      cursor pointer
      overflow hidden
      -ms-text-overflow: ellipsis
      text-overflow: ellipsis
      white-space nowrap
      border-radius 3px
      font-size 13px
      transition background 0.15s ease-in-out
      &:hover
        background rgba(255,255,255, 0.1)
      &:after
        content ''
        position absolute
        top 4px
        left 2px
        bottom 4px
        width 5px
        border-top-right-radius 3px
        border-bottom-right-radius 3px
        display none
        background $active_color
        box-shadow 0 0 10px rgba(19, 112, 226, 0.7)
      &.active:after
        display block
      &.active
        color #fff
      &:focus
        outline none
  & .mainNav.playlistNav
    margin-bottom 70px
    &:focus
      outline none
  & .draggable-source--is-dragging
    width calc(100% - 60px)
    margin-left 10px
    border-radius 3px
    line-height 35px
    position relative
    top 0
    color: transparent
    user-select: none
    &:hover
      background transparent
    &:before
      content ''
      position absolute
      top 15px
      left 0
      right 0
      height 5px
      border-radius 3px
      background $active_color
  & .newPlaylistButton
    position absolute
    left 20px
    right 20px
    bottom 20px
    width auto
    line-height 40px
    padding 0 20px
    cursor pointer
    background $active_color
    border-radius 20px
    font-family 'Montserrat', sans-serif
    text-transform uppercase
    font-weight 600
    font-size 13px
    text-align center
    color #fff
    z-index 3
    transition background 0.15s ease-in-out
    &:hover
      background $active_hover

.modalityOverlay
  display none
  position absolute
  z-index 10000
  top 0
  left 0
  right 0
  bottom 0
  background rgba(20, 20, 24, 0.4)
  animation commit_fade_in 0.3s linear
  animation-fill-mode forwards

.mobileNavigation
  display none

#websocketDisconnectOverlay
  display none
  position absolute
  left 0
  top -100px
  right 0
  z-index 10001
  width 100%
  height 50%
  overflow hidden
  animation DisconnectDropDown .3s
  animation-fill-mode forwards
  & .message
    position absolute
    top 50px
    width 700px
    height 100px
    left calc(50% - 350px)
    & .icon
      float left
      font-size 90px
      line-height 80px
      text-align center
      width 160px
      height 95px
      padding 25px 15px
      color rgba(255,255,255, 0.2)
      & i
        color #fff
    & .content
      float left
      height 95px
      width calc(100% - 225px)
      color #fff
      padding 25px 15px
      & .title
        color #fff
        display inline-block
        font-weight bold
        font-size 23px
        width 100%
        text-transform uppercase
        letter-spacing 1px
      & .description
        margin-top 15px
        color rgba(255, 255, 255, 0.8)
        display inline-block
        font-size 17px
        width 100%
        font-weight 400

.modal
  display none
  position absolute
  left calc(50% - 275px)
  top calc(50% - 115px)
  z-index 10001
  width 550px
  height 230px
  overflow auto
  border-radius 4px
  box-shadow 0 0 15px rgba(0, 0, 0, 0.3)
  background #2E3136
  transform scale(0)
  animation zoomin .3s
  animation-fill-mode forwards
  & .playlist_art
    float left
    width 140px
    height 140px
    margin 15px
    border-radius 4px
    background rgba(0, 0, 0, 0.2)
    color rgba(255, 255, 255, 0.1)
    font-size 30px
    line-height 140px
    text-align center
    position relative
    top 0
    & .edit_icon
      position absolute
      right 5px
      bottom 5px
      width 35px
      line-height 37px
      background $active_color
      color rgba(255, 255, 255, 0.7)
      text-align center
      font-size 18px
      border-radius 50%
      padding-left 2px
      box-shadow 0 2px 8px rgba(0, 0, 0, 0.1)
    & input[type='file']
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      cursor pointer
      opacity 0
      &:focus
        outline none
  & input.playlist_name_input
    float left
    padding 0
    width calc(100% - 195px)
    border 0 solid transparent
    border-radius 4px
    padding-left 10px
    background rgba(0, 0, 0, 0.2)
    line-height 34px
    font-size 13px
    margin-top 15px
    color #fff
    font-family 'Ubuntu', 'Open Sans', sans-serif
    &::-webkit-input-placeholder
      color #53565C
  & textarea.playlist_description_input
    width calc(100% - 205px)
    height 70px
    border-radius 4px
    padding 10px
    margin-top 15px
    background rgba(0, 0, 0, 0.2)
    border 0 solid transparent
    color #ffff
    font-family 'Ubuntu', 'Open Sans', sans-serif
    &::-webkit-input-placeholder
      color #53565C
  & .modal_footer
    position absolute
    bottom 0
    left 0
    width 100%
    height 60px
    background rgba(255, 255, 255, 0.1)
    z-index 800
    & input
      float right
      margin-top 12px
      margin-right 15px
      padding 0 30px
      background $active_color
      border 0 solid transparent
      color #fff
      font-family 'Ubuntu', 'Open Sans', sans-serif
      font-size 13px
      line-height 32px
      border-radius 4px
      cursor pointer
      &.cancel
        background #4F545C
      &:focus
        outline none
      &:active
        outline none

@keyframes DisconnectDropDown
  0%
    top -100px
  100%
    top 0

@keyframes zoomin
  0%
    transform scale(0)
  80%
    transform scale(1.02)
  100%
    transform scale(1)

.contentView
  -webkit-flex-basis 100%
  flex-basis 100%
  height auto
  overflow auto
  position relative
  top 0
  opacity 0
  transition opacity 0.4s ease-in-out
  transition-delay 2s
  &>.simplebar-track.horizontal
    display: none !important;
  & .simplebar-track
    z-index 1000
  & .contentWrapper
    padding 30px
    width calc(100% - 60px)
    margin-top 40px
    height auto
    & .contentHeader
      width calc(100% + 60px)
      height 200px
      margin -70px -30px 0 -30px
      background rgba(0,0,0,0.2)
      position relative
      top 0
      left 0
      overflow hidden
      display inline-block
      & .icon
        opacity 0.1
        position absolute
        right 50px
        top 20px
        width 600px
      & .contentTitle
        color #fff
        font-size 35px
        padding 140px 40px 0 40px
        width calc(100% - 80px)
        cursor default
    & .developerValues
      width 100%
      height auto
      padding 10px
      background rgba(62, 152, 246, 0.2)
      border-radius 3px

.loader
  position absolute
  top calc(50% - 25px)
  left calc(50% - 25px)
  width 50px
  height 50px
  display none
  background #2E3136
  border-radius 50%
  box-shadow 0 0 4px rgba(0, 0, 0, 0.2)
  z-index 10000
  & .spinner
    position absolute
    top calc(50% - 9px)
    left calc(50% - 9px)
    width 18px
    height 18px
    border-radius 50%
    box-sizing border-box
    border solid 2px transparent
    border-top-color $active_color
    border-left-color $active_color
    animation spinner 1.0s infinite linear

@keyframes spinner
  0% {
    transform rotate(0deg)
  }
  100% {
    transform rotate(360deg)
  }

.playerBar
  bottom 0
  position fixed
  left 0
  right 0
  height 75px
  background #191919
  box-shadow inset 0 4px 0 #222
  overflow hidden
  & .bg
    display none
  & .waveform-container
    position absolute
    bottom 12px
    left 500px
    right 150px
    height 50px
    width calc(100% - 660px)
    z-index -1
  & .waveform-bg
    clip-path url(#waveform-mask)
    fill rgba(160,160,160,0.1)
  & .waveform-progress
    clip-path url(#waveform-mask)
    fill url(#WaveformProgressGradient)
    transition width 1s linear
  & .controls
    position absolute
    top calc(50% - 100px)
    left 300px
    border-radius 50%
    font-size 15px
    width 200px
    height 200px
    text-align center
    & .prev
      float left
      margin-left 30px
      line-height 200px
      width 32px
      text-align center
      border-radius 50%
      color rgba(255, 255, 255, 0.8)
      transition transform 0.2s ease-in-out
      cursor pointer
      &:hover
        color #fff
        transform scale(1.1)
      &.disabled
        color #4A4C51
        cursor default
        &:hover
          color #4A4C51
          transform scale(1)
    & .skip
      float left
      margin-left 25px
      line-height 200px
      width 32px
      text-align center
      border-radius 50%
      color rgba(255, 255, 255, 0.8)
      transition transform 0.2s ease-in-out
      cursor pointer
      &:hover
        color #fff
        transform scale(1.1)
      &.disabled
        cursor default
        color #4A4C51
        &:hover
          color #4A4C51
          transform scale(1)
    & .playStopButton
      float left
      margin-left 25px
      line-height 200px
      width 24px
      font-size 25px
      cursor pointer
      color rgba(255, 255, 255, 0.8)
      text-align center
      transition transform 0.2s ease-in-out
      &:hover
        color #fff
        transform scale(1.1)
  & .activeArtwork
    position absolute
    top 4px
    left 0
    height 75px
    width 75px
    background-color #3C3D41
  & .duration
    color rgba(255, 255, 255, 0.6)
    position absolute
    top 0
    line-height 75px
    right 25px
    text-align right
    width 130px
    font-size 13px
  & .activeTrack,
    .activeArtist
    position absolute
    top 20px
    font-size 16px
    left 85px
    color #fff
    width 220px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  & .activeArtist
    top: 43px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255,255,255,0.6)
  & .timelineWrapper
    position absolute
    top 0
    left 0
    right 0
    width 100%
    height 4px
    overflow hidden
    & .timeline
      position absolute
      top 0
      left 0
      bottom 0
      width 0
      height 4px
      border-top-right-radius 2px
      border-bottom-right-radius 2px
      background $active_color
      transition width 1s linear
      z-index 2
      &.loading
        position absolute
        top 0
        left 0
        animation loadingSeekBar 1.0s ease-in-out infinite
    & .downloadtimeline
      position absolute
      top 0
      left 0
      bottom 0
      width 0
      height 4px
      z-index 1
      border-top-right-radius 2px
      border-bottom-right-radius 2px
      background rgba(200,200,200,0.1)
      transition width 3s linear
  & .random, .repeat, .queue_button
    position absolute
    left calc(50% + 130px)
    top calc(50% - 17px)
    line-height 38px
    padding-bottom 2px
    color rgba(255, 255, 255, 0.8)
    width 38px
    height 38px
    font-size 18px
    text-align center
    border-radius 50%
    cursor pointer
    &.active
      color $active_color
  & .random
    display none
  & .repeat
    left calc(50% - 170px)
    display none
  & .queue_button
    left auto
    right 125px
    width 32px
    transition transform 0.2s ease-in-out
    cursor pointer
    &:hover
      color #fff
      transform scale(1.1)
    &.disabled
      cursor default
      color #4A4C51
      &:hover
        color #4A4C51
        transform scale(1)
  & .downButton
    display none

@keyframes loadingSeekBar
  0%
    left 0
  100%
    left 100%

// HOME VIEW

.homeWrapper
  width 1300px
  margin-left calc(50% - 650px)
  position relative
  top 0
  left 0

.homeProfileTitle
  position absolute
  top -160px
  left 330px
  color #fff
  font-size 72px
  font-weight 500
  font-family Ubuntu, "Open Sans", sans-serif

#HomeProfile
  width 300px
  height 390px
  margin -200px 0 0 0
  border-radius 10px
  background rgba(10, 11, 15, 1)
  position absolute
  top 0
  left 0
  & .icon
    position relative
    top 80px
    left 0
    margin 0 0 0 calc(50% - 60px)
    width 120px
    height 120px
    border-radius 50%
    &:after
      content ''
      position absolute
      top -40px
      left -40px
      width 200px
      height 200px
      border-radius 50%
      border 3px solid transparent
      border-top 3px solid $active_color
      border-right 3px solid $active_color
      border-left 3px solid $active_color
      box-sizing border-box
  & .name
    margin-top 110px
    width 100%
    text-align center
    font-size 20px
    line-height 70px
    color #fff
    font-weight 500
    border-bottom 1px solid #111
    & span
      color rgba(255,255,255,0.2)
  & .stats
    width 100%
    & .karma
      float left
      width 50%
      height 74px
      color #fff
      font-size 30px
      text-align center
      padding 15px 0 0 0
      border-right 1px solid #111
      overflow hidden
      position relative
      top 0
      left 0
      & i
        text-decoration none
        font-style normal
      & span
        font-size 14px
        color rgba(255,255,255,0.2)
      & .star
        position absolute
        bottom -115px
        right -30px
        opacity 0.1
        font-size 190px
        color #666
    & .messages
      float left
      width calc(50% - 1px)
      color #fff
      height 74px
      font-size 30px
      padding 15px 0 0 0
      text-align center
      position relative
      top 0
      left 0
      overflow hidden
      & i
        text-decoration none
        font-style normal
      & span
        font-size 14px
        color rgba(255,255,255,0.2)
      & .messages-icon
        position absolute
        bottom 53px
        right -13px
        opacity 0.1
        font-size 70px
        color #666

.overview_list
  list-style none
  margin 30px 0 0 330px
  padding 0
  & li
    float left
    margin 0 20px 20px 0
    width 450px
    height 200px
    background #21222b
    border-radius 5px
    &.status
      height 300px

#commitHistory
  list-style none
  margin 0
  padding 0
  height auto
  width 100%
  & > li
    float left
    width calc(100% - 20px)
    height auto
    margin 10px 0
    padding 0 10px
    position relative
    top 0
    background rgba(53, 56, 60, 1)
    border-radius 3px
    overflow hidden
    opacity 0
    animation commit_fade_in 0.6s linear
    animation-fill-mode forwards
    &:before
      content ''
      position absolute
      top 0
      left 0
      height 58px
      width 100%
      background rgba(25, 25, 25, 0.2)
      z-index 0
    .date
      font-size 11px
      color #bbb
      position absolute
      top 34px
      left 9px
      & .author
        font-size 11px
        color rgba(73, 234, 165, 1)
    .commit
      font-size 11px
      position absolute
      top 10px
      right 9px
      color rgba(189, 239, 94, 1)
      border-radius 3px
      font-family Consolas, "Liberation Mono", Menlo, Courier, monospace
      background rgba(0, 0, 0, 0.2)
      padding 0 10px
      line-height 24px
      & > a
        text-decoration none
        color $active_color
        &:hover
          text-decoration underline
    .container
      width calc(100% - 80px)
      min-height 45px
      padding-bottom 5px
      padding-top 5px
      & code
        background rgba(0, 0, 0, 0.2)
        border-radius 2px
        padding 2px 4px
        font-family Consolas, "Liberation Mono", Menlo, Courier, monospace
        color rgba(73, 234, 165, 1)
      & .type
        display inline-block
        line-height 24px
        padding 0 2px
        min-width 30px
        width 90px
        text-align center
        background rgba(0, 0, 0, 0.1)
        color #fff
        font-size 11px
        font-weight bold
        border-radius 2px
        margin-right 5px
        &.todo
          background-color rgba(121, 97, 238, 1.00)
        &.new
          background-color $active_color
        &.fix
          background-color rgba(0, 200, 83, 1.00)
        &.code
          background-color rgba(42, 45, 48, 1)
        &.improvement
          background-color rgba(243, 184, 49, 1.00)
        &.depreciated
          background-color rgba(217, 69, 66, 1.00)
      & > ul
        list-style none
        margin 5px
        padding 0
        & > li
          width 100%
          margin-left 4px
          margin-top 6px
      & > p
        font-size 13px
        color #ddd
        margin-top 5px
        font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
        z-index 5
        & > a
          text-decoration none
          color $active_color
          &:hover
            text-decoration underline
      & > a
        text-decoration none
        color $active_color
        &:hover
          text-decoration underline
      & > p:last-child
        display block
        font-size 12px
        color rgba(255, 255, 255, 0.5)
        font-family Consolas, "Liberation Mono", Menlo, Courier, monospace
      & > p:first-child
        font-size 16px
        color #fff
        font-weight 600
        padding-bottom 25px
        font-family "Helvetica Neue", Helvetica, Arial, sans-serif

@keyframes commit_fade_in
  0%
    opacity 0
  100%
    opacity 1

// PLAYLIST VIEW

.contextMenu
  display none
  margin 0
  padding 10px 0
  position absolute
  top 0
  left 0
  z-index 1000
  width 210px
  height auto
  max-height 333px
  background rgba(27, 29, 32, 1.00)
  box-shadow 0 0 5px rgba(0, 0, 0, 0.3)
  border-radius 4px
  overflow hidden
  & ul
    list-style none
    margin 0
    padding 0
    width 100%
    & li
      width calc(100% - 30px)
      padding 10px 15px
      cursor pointer
      color #eee
      &:hover
        background rgba(200, 200, 200, 0.1)
      &[disabled='true']
        color rgba(255, 255, 255, 0.2)
        cursor default
        &:hover
          background transparent
      &.sep
        width 100%
        height 1px
        padding 0
        margin 9px 0
        background rgba(43, 45, 47, 0.8)

.header
  width 100%
  min-width 1128px
  height 300px
  color #fff
  background rgba(19, 20, 24, 1)
  font-size 26px
  font-family 'Montserrat', sans-serif
  font-weight 500
  position relative
  top 0
  left 0
  z-index 9
  overflow hidden
  & .bg
    width 800px
    height 800px
    position absolute
    top -200px
    right calc(50% - 400px);
    bottom 0
    transition filter 0.25s ease-in-out
  & .bg_overlay
    position absolute
    width 860px
    height 840px
    top -220px
    right calc(50% - 430px);
    background radial-gradient(rgba(19, 20, 24, 0) 0%, rgba(19, 20, 24, 1) 60%, rgba(19, 20, 24, 1) 100%)
  & .playlistType
    position absolute
    left 220px
    top 75px
    width 300px
    font-size 16px
    font-weight 400
    text-transform uppercase
    color rgba(200, 200, 200, 0.8)
    opacity 1
    transition opacity 0.2s ease-in-out, top 0.4s ease-in-out
  & .playlistName
    position absolute
    left 220px
    top 95px
    width calc(100% - 240px)
    font-size 38px
    font-weight 700
    color #fff
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    cursor pointer
    opacity 1
    transition top 0.2s ease-in-out
  & .playlistDescription
    position absolute
    left 220px
    top 150px
    width 50%
    font-size 14px
    font-weight 500
    color rgba(220, 220, 220, 0.7)
    font-style italic
    opacity 1
    transition opacity 0.2s ease-in-out, top 0.4s ease-in-out
  & .playlistStats
    position absolute
    left 220px
    top 180px
    width calc(100% - 220px)
    font-size 16px
    font-weight 500
    color rgba(220, 220, 220, 0.8)
    opacity 1
    transition opacity 0.2s ease-in-out, top 0.4s ease-in-out
    & .statFrame
      float left
      width auto
      height auto
      text-align right
      margin-right 40px
      & .value
        display inline-block
        font-size 18px
        font-weight bold
        color #fff
        margin-top 4px
      & .txt
        display inline-block
      &.author, &.totalSongs, &.totalPlayTime
        margin-right 5px
        & .value
          margin-left 5px
          font-size 15px
          font-weight 500
      &.totalSongs .value, &.totalPlayTime .value
        color rgba(220, 220, 220, 0.8)
      &.numberOfFollowers
        float right
    & span.user
      color #fff
      cursor pointer
      &:hover
        text-decoration underline
  & .playing
    position absolute
    top 80px
    left 50px
  & .playlistOptions
    position absolute
    top 215px
    left 220px
    width 390px
    opacity 1
    transition opacity 0.2s ease-in-out, top 0.4s ease-in-out
    & .playPlaylistButton, .followPlaylistButton, .playlistExtraOptions
      display inline-block
      border-radius 20px
      padding 6px 30px
      font-family 'Montserrat', sans-serif
      font-weight 600
      font-size 13px
      color #fff
      background $active_color
      border 1px solid $active_color
      cursor pointer
      opacity 0.9
      transition transform 0.2s ease-in-out
      &:hover
        transform scale(1.05)
        opacity 1
    & .followPlaylistButton
      background rgba(0, 0, 0, 0.4)
      border 1px solid rgba(200, 200, 200, 1.0)
      margin-left 20px
      &:hover
        border 1px solid $active_color
        color $active_color
      &.following
        border 1px solid $active_color
        &:hover
          border 1px solid rgba(200, 200, 200, 1.0)
          color $active_color
    & .playlistExtraOptions
      background rgba(0, 0, 0, 0.4)
      border 1px solid rgba(255, 255, 255, 0.6)
      padding 6px 8px
      margin-left 20px
      opacity 1
      &:hover
        border 1px solid rgba(255, 255, 255, 1)
  & .artwork
    position absolute
    top 75px
    left 30px
    width 175px
    height 175px
    border-radius 8px
    box-shadow 0 0 10px rgba(11,11,11,0.4)
    opacity 1
    transition width 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out
  &.mini
    position fixed
    left 230px
    top -100px
    width calc(100% - 230px)
    min-width 1128px
    height 300px
    /*& .bg
      filter blur(10px)*/
    & .artwork
      width 75px
      height 75px
      top 170px
    & .playlistType
      opacity 0
    & .playlistName
      top 180px !important
      left 130px
    & .playlistDescription
      opacity 0
    & .playlistStats
      opacity 0
    & .playlistOptions
      top 185px
      right 30px
      left auto
      text-align right
#playlist,
#search_playlist,
.songList
  list-style none
  margin 0
  padding 0
  width calc(100% - 5px)
  min-width 1128px
  height 100%
  & li
    float left
    width calc(100% - 10px)
    min-width 1128px
    cursor pointer
    //background rgba(34, 34, 41, 1.00)
    font-size 12px
    font-weight 500
    margin-left 5px
    margin-right 5px
    //border-bottom 1px solid rgba(0, 0, 0, 0.2)
    background transparent
    border-radius 2px
    color rgba(255, 255, 255, 0.8);
    &:nth-child(2n)
      //background rgba(0,0,0,0.1)
    &.titleRow
      font-size 13px
      font-weight 400
      text-transform uppercase
      color rgba(132, 137, 143, 1.00)
      width calc(100% + 5px)
      height 30px
      line-height 30px
      margin 0
      margin-top -30px
      cursor default
      z-index 10
      border-radius 0
      position relative
      top 0
      left 0
      & .sortDir
        color $active_color
        margin-left 10px
        opacity 1
      & > .trackRow > div
        line-height 30px
        cursor pointer
      & > .trackRow > div:hover
        color #fff
        opacity 1
    &:nth-child(2)
      margin-top 5px
    & .trackRow
      display -webkit-flex
      display flex
      -webkit-flex-direction row
      flex-direction row
      -webkit-flex-wrap nowrap
      flex-wrap nowrap
      width 100%
      & .item
        text-align right
        vertical-align top
        line-height 40px
        padding-right 30px
        position relative
        top 0
        right 0
        -webkit-flex-basis 35px
        flex-basis 35px
        & .play
          position absolute
          top 12px
          right 3px
          font-size 14px
          color $active_color
      & .title
        flex-grow 1
        vertical-align top
        line-height 40px
        width 332px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        padding-right 10px
        padding-left 10px
        position relative
        top 0
        & .explicit
          position absolute
          right 2px
          top 12px
          border 0.5px solid rgba(238, 62, 62, 1.00)
          border-radius 2px
          line-height 15px
          padding 0 5px
          font-size 8px
          font-weight bold
          color rgba(238, 62, 62, 1.00)
      & .artist
        flex-grow 1
        width 240px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        padding-right 10px
        padding-left 10px
        vertical-align top
        line-height 40px
        -webkit-flex-basis 240px
        flex-basis 240px
      & .album
        flex-grow 1
        width 240px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        padding-right 10px
        padding-left 10px
        vertical-align top
        line-height 40px
        -webkit-flex-basis 240px
        flex-basis 240px
      & .timestamp
        padding-left 10px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        color rgba(96, 102, 111, 1)
        line-height 40px
        -webkit-flex-basis 120px
        flex-basis 120px
        & i
          margin-top 8px
      & .time
        width 70px
        padding-left 10px
        padding-right 10px
        text-align right
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        color rgba(96, 102, 111, 1)
        vertical-align top
        line-height 40px
        -webkit-flex-basis 70px
        flex-basis 70px
        &#time_header
          padding-right 20px
        & i
          margin-top 8px
    /*&:hover
      background #35383C*/
    &.active
      background rgba(0, 0, 0, 0.2)
      color #fff
      & .trackRow .item .play
        color $active_color
    &.playing
      color #0072ff !important
      & .timestamp, .time
        color #0072ff !important
  &.mini
    margin-top 299px
    & .titleRow
      position fixed
      top 200px
      left 230px
      right 0
      width calc(100% - 230px)

#search_playlist
  margin-top 30px
  margin-left -30px
  width calc(100% + 55px)
  & li.titleRow
    font-size 12px
    font-weight bold
    text-transform uppercase
    color rgba(132, 137, 143, 1.00)
    width calc(100% - 20px)
    height 30px
    line-height 30px
    cursor default
    position relative
    top 0
    left 0
    right 0
    z-index 10
    border-bottom 1px solid rgba(50, 50, 50, 0.6)
    border-top 1px solid rgba(50, 50, 50, 0.6)
  & li:nth-child(2)
    margin-top 0

// BROWSE VIEW

#search_playlists
  list-style none
  margin 0
  margin-top 20px
  padding 0
  height 255px
  white-space nowrap
  margin-left -30px
  width calc(100% + 60px)
  & .simplebar-track.horizontal
    display block
  & .simplebar-track.vertical
    display none
  & li
    display inline-block
    margin-left 30px
    margin-right 30px
    margin-bottom 30px
    margin-top 10px
    width 170px
    height 210px
    cursor pointer
    animation commit_fade_in 0.6s linear
    animation-fill-mode forwards
    & .artwork
      width 170px
      height 170px
      background-color rgba(0, 0, 0, 0.1)
      position relative
      top 0
      right 0
      bottom 0
      border-radius 6px
      box-shadow 0 0 12px rgba(0, 0, 0, 0.4)
      & .playState
        display none
        position absolute
        right 5px
        bottom 5px
        width 35px
        line-height 37px
        background $active_color
        color rgba(255, 255, 255, 0.7)
        text-align center
        font-size 18px
        border-radius 50%
        padding-left 2px
      &:hover .playState
        display block
    & .playlistName
      width 160px
      margin-top 10px
      margin-left 2px
      color rgba(255, 255, 255, 0.9)
      font-weight bold
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
    & .creator
      width 160px
      margin-top 3px
      margin-left 2px
      color rgba(255, 255, 255, 0.5)
      & .username
        float left
        line-height 20px
        font-size 12px
        overflow hidden
        white-space nowrap
        text-overflow ellipsis

.playlistList
  margin 0
  margin-top 20px
  padding 0
  height 420px
  white-space nowrap
  margin-left 20px
  margin-right 20px
  width calc(100% - 40px)
  display flex
  flex-direction column
  flex-wrap wrap
  align-items flex-start
  justify-content space-around
  & .simplebar-track.horizontal
    display none
  & .simplebar-track.vertical
    display none
  &>div
    flex-basis 190px
    margin 15px
    margin-bottom 0
    width 150px
    cursor pointer
    animation commit_fade_in 0.6s linear
    animation-fill-mode forwards
    &.big
      flex-basis 420px
      width 360px
    &.browsetitlebox
      white-space normal
      cursor default
      & .icon
        width 50px
        height 50px
        color #fff
        border-radius 50%
        line-height 50px
        text-align center
        font-size 25px
        background $active_color
      & .title
        margin-top 12px
        font-size 34px
        color $active_color
      & .desc
        padding-top 10px
        line-height 28px
        letter-spacing 1px
        font-size 20px
        color #aaa
      &.purple
        & .icon
          background #7861ED
        & .title
          color #7861ED
    & .artwork
      width 100%
      padding-top 100%
      background-color rgba(0, 0, 0, 0.1)
      position relative
      top 0
      right 0
      bottom 0
      border-radius 6px
      box-shadow 0 0 12px rgba(0, 0, 0, 0.4)
      & .playState
        display none
        position absolute
        right 5px
        bottom 5px
        width 35px
        line-height 37px
        background $active_color
        color rgba(255, 255, 255, 0.7)
        text-align center
        font-size 18px
        border-radius 50%
        padding-left 2px
      &:hover .playState
        display block
    & .playlistName
      margin-top 10px
      margin-left 2px
      color rgba(255, 255, 255, 0.9)
      font-weight bold
      height 25px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

.seperator
  width 100%
  height 2px
  msrgin 20px 0
  border-bottom 2px solid rgba(0, 0, 0, 0.2)

#song_info
  position absolute
  display none
  top calc(50% - 400px)
  left calc(50% - 300px)
  width 600px
  height 800px
  overflow hidden
  border-radius 4px
  box-shadow 0 0 10px rgba(0, 0, 0, 0.4)
  background #2E3136
  z-index 500
  & .song_info_header
    position absolute
    top 0
    left 0
    width 100%
    height 140px
    background rgba(0, 0, 0, 0.2)
    & .song_artwork
      width 120px
      height 120px
      margin 10px
      border-radius 4px
      background rgba(0, 0, 0, 0.1)
    & .song_title
      position absolute
      top 32px
      left 150px
      color #fff
      font-size 16px
      font-weight bold
    & .song_artist
      position absolute
      top 60px
      left 150px
      font-size 14px
      color #fff
    & .song_album
      position absolute
      top 84px
      left 150px
      font-size 14px
      color #fff
  & .song_info_footer
    position absolute
    bottom 0
    left 0
    width 100%
    height 60px
    background rgba(255, 255, 255, 0.1)
    z-index 800
    & input
      float right
      margin-top 12px
      margin-right 20px
      padding 0 30px
      background rgba(3, 164, 216, 1.00)
      border 0 solid transparent
      color #fff
      font-family 'Ubuntu', 'Open Sans', sans-serif
      font-size 13px
      font-weight bold
      line-height 32px
      border-radius 3px
      cursor pointer
      &.cancel
        background #4F545C
      &:focus
        outline none
      &:active
        outline none
  & .song_info_wrapper
    position absolute
    top 150px
    bottom 60px
    left 0
    right 0
    width 100%
    height 100%
    & table
      margin-left 20px
      width calc(100% - 40px)
      & tr td:first-child
        text-align right
        width 120px
        color rgba(255, 255, 255, 0.5)
      & tr td input
        margin-left 5px
        border 0 solid transparent
        background #25272B
        border-radius 3px
        line-height 28px
        color #fff
        width calc(100% - 12px)
        padding 0 6px
        font-size 12px

// ACCOUNT

.subTitleBar
  margin-top 20px
  width 100%
  height 50px
  border-bottom 2px solid rgba(0, 0, 0, 0.2)
  min-width 1128px
  z-index 1
  & .subWrapper
    width 1128px
    height 50px
    & .subnav
      float left
      list-style none
      margin 0
      padding 0
      & li
        float left
        margin-top 0
        line-height 50px
        padding 0 25px
        cursor pointer
        font-size 14px
        font-weight 500
        text-transform uppercase
        color #AAAAAA
        &:hover
          color #fff
        &.active
          box-shadow 0 2px 0 $active_color
          color #fff

.accountBox
  display inline-block
  margin-left 30px
  margin-top 30px
  width calc(50% - 60px)
  min-width 280px
  min-height 250px
  padding 10px
  background #2E3136
  border-radius 4px
  position relative
  top 0
  overflow hidden
  vertical-align top
  & .titlebar
    position absolute
    top 0
    left 0
    width calc(100% - 10px)
    margin-left -10px
    margin-right -10px
    height auto
    line-height 60px
    color #fff
    padding-left 30px
    font-size 16px
    background #222428
  & .content
    width 100%
    height 100%
    margin-top 60px
    position relative
    top 0
    &>ul
      list-style none
      margin 0
      padding 0
      &>li
        display inline-block
        min-width 100px
        width auto
        margin-left 12px
        margin-top 8px
        padding 2px 10px 2px 10px
        line-height 30px
        background #222428
        border-radius 4px
    & .account_details_box
      width 45%
      display inline-block
      margin-left 5%
      & .label
        margin-top 30px
        width 100%
        display inline-block
        font-size 14px
        color rgba(255, 255, 255, 0.9)
      & .value
        margin-top 8px
        width 100%
        display inline-block
        font-size 13px
        color rgba(255, 255, 255, 0.5)
  & .top_background
    position absolute
    top 0
    left 0
    width calc(100% + 20px)
    margin -10px
    height 130px
    background #222428
  & .account_avatar
    position absolute
    left 0
    top 0
    z-index 2
    margin-left calc(50% - 64px)
    margin-top 50px
    width 128px
    height 128px
    border-radius 50%
    box-shadow inset 0 0 25px rgba(0,0,0,0.2)
  & .account_name
    position absolute
    left 0
    top 180px
    z-index 2
    margin-top 20px
    text-align center
    width 100%
    float left
    font-size 18px
    color rgba(255, 255, 255, 0.9)
    & span
      color rgba(255, 255, 255, 0.5)

.connections_connect,
.connections_connected
  display inline-block
  margin-left 30px
  margin-top 30px
  width calc(100% - 100px)
  min-width 280px
  padding 5px 20px
  background #2E3136
  border-radius 4px
  position relative
  top 0
  &>ul#connections
    list-style none
    margin 0
    padding 0
    &>li
      display inline-block
      margin 10px
      width 60px
      height 60px
      border-radius 3px
      cursor pointer
      border 1px solid #222428
      & img
        height 40px
        width 40px
        margin 10px
      &:hover
        background #222428
  &>ul#connected
    list-style none
    margin 0
    padding 0
    height auto
    &>li
      width calc(100% - 40px)
      height 200px
      padding 10px
      border-radius 4px
      margin 10px
      position relative
      top 0
      &.spotify
        background $spotify_color
      & .title
        background rgba(0,0,0,0.2)
        width 100%
        position absolute
        top 0
        left 0
        right 0
        height 70px
        & img
          width 50px
          height 50px
          margin 10px
          margin-left 20px
          opacity 0.8
          float left
        & .connection_name
          float left
          font-size 16px
          color #fff
          text-transform capitalize
          margin-left 10px
          margin-top 17px
          & span
            color rgba(255,255,255,0.6)
            text-transform lowercase
            font-size 14px
        & .disconnect
          position absolute
          top 0
          right 0
          line-height 35px
          margin 17px
          border-radius 3px
          background transparent
          margin-right 20px
          border 2px solid rgba(255,255,255,0.8)
          color rgba(255,255,255,0.8)
          font-size 14px
          font-weight 600
          padding 0 10px
          cursor pointer
          &:hover
            background #fff
            color $spotify_color
          &:active
            outline none
      & .content
        width 100%
        height auto
        margin-top 60px
        padding 10px
        & ul.options
          list-style none
          margin 0
          padding 0
          height auto
          & li
            width calc(100% - 20px)
            line-height 40px
            font-size 15px
            margin 12px 0
            height 40px
            & .label
              float left
            & .option
              float right
              opacity 1
              width auto
              transition opacity 0.5s ease-out, width 0.5s ease-out
              &.progressbar
                width 280px
                height 8px
                margin-top 24px
                border-radius 4px
                background rgba(0,0,0,0.2)
                position relative
                top 0
                & .progressmsg
                  margin-top -35px
                  margin-left 2px
                  font-size 13px
                  color #fff
                  width 270px
                  overflow hidden
                  text-overflow ellipsis
                  white-space nowrap
                & .progress
                  width 0
                  height 4px
                  border-radius 4px
                  background #fff
                  margin-top -3px
                  margin-left 2px
                  transition width 0.2s
              &.toggle
                width 50px
                height 26px
                border 2px solid rgba(255,255,255,0.2)
                border-radius 25px
                position relative
                top 0
                cursor pointer
                &:before
                  content ''
                  position absolute
                  left 2px
                  top 2px
                  height 22px
                  width 22px
                  background #fff
                  border-radius 50%
                  transition left 0.3s ease-in-out, background 0.3s ease-in-out
              &.toggle[data-toggleSetting="enabled"]
                background rgba(255,255,255,0.2)
                border 2px solid transparent
                &:before
                  content ''
                  position absolute
                  left 26px
                  top 2px
                  height 22px
                  width 22px
                  background #fff
                  border-radius 50%
                  transition left 0.3s ease-in-out, background 0.3s ease-in-out
              &.button
                line-height 37px
                margin-left 17px
                border-radius 3px
                background rgba(255,255,255,0.2)
                color #fff
                font-size 15px
                font-weight 500
                padding 0 10px
                cursor pointer
                position relative
                border 2px solid transparent
                top 0
                right 0
                opacity 1
                &:hover
                  background #fff
                  color $spotify_color
                &.disabled
                  opacity 0.3
                  cursor default
                  &:hover
                    background rgba(255,255,255,0.2)
                    color #fff
              &.select
                width 240px
                height 40px
                line-height 40px
                color #fff
                border 1px solid rgba(0,0,0,0.2)
                background rgba(0,0,0,0.1)
                padding 0 10px
                border-radius 4px
                cursor default
                position relative
                font-size 13px
                top 0
                #playlistSelectionValue
                  white-space nowrap
                  text-overflow ellipsis
                  width 240px
                  overflow hidden
                & .selectionArrow
                  position absolute
                  top 0
                  right 10px
                  height 40px
                  line-height 40px
                  color #fff
                & .selectionOptions
                  display none
                  position absolute
                  top 38px
                  left -1px
                  right -1px
                  max-height 210px
                  background #1AA64B
                  border 1px solid rgba(0,0,0,0.2)
                  border-bottom-left-radius 4px
                  border-bottom-right-radius 4px
                  overflow auto
                  & .selectionOption
                    width calc(100% - 20px)
                    line-height 40px
                    padding 0 10px
                    cursor pointer
                    overflow hidden
                    text-overflow ellipsis
                    white-space nowrap
                    &:hover
                      background rgba(0,0,0,0.1)
                &.selected .selectionOptions
                  display block
              &.hide
                opacity 0
                width 0
          & li.sep
            width calc(100% - 20px)
            margin 10px 0
            height 2px
            background rgba(255,255,255,0.2)

.connections_connected
  margin-bottom 300px



// DEVELOPER

#developer_apps
  list-style none
  margin 0
  padding 0
  & li
    float left
    width 470px
    height auto
    border-radius 4px
    margin-top 30px
    margin-right 30px
    background #2E3136
    overflow hidden
    color rgba(255,255,255,0.8)
    font-family "Open Sans", sans-serif
    font-size 11px
    & .title
      color #eee
      font-size 20px
      text-transform none
      font-weight bold
      width 100%
      padding 10px
      background $active_color
    & .description
      color rgba(255,255,255,0.8)
      font-size 12px
      font-weight 400
      text-transform none
      padding 0 10px
      width 100%
      line-height 35px
      background $active_color
      height 35px
    & .toggleSecretValues
      padding 0 10px
      line-height 35px
      cursor pointer
      color #fff
      font-size 12px
    & .api_value
      width calc(100% - 20px)
      padding 10px 10px 0 10px
      & .type
        color #fff
        font-size 14px
        font-weight bold
      & .value
        font-size 18px
        font-weight bold
        & pre
          line-height 32px
          color #ccc
          padding 0 10px
          font-family Consolas, "Lucida Console", Monaco, monospace
          width calc(100% - 20px)
          text-overflow ellipsis
          overflow hidden
          cursor pointer
      &.clientsecret
        background rgba(0,0,0,0.2)
        padding 10px
        font-size 16px
      &.clientid
        padding 10px
        background rgba(0,0,0,0.2)
        border-bottom 0 solid transparent
        font-size 16px
    & .secretValues.hidden
      display none
    & .createNewApp
      color rgba(255,255,255,0.2)
      font-size 20px
      text-transform none
      font-weight bold
      width calc(100% - 24px)
      height 410px
      padding 10px
      line-height 400px
      text-align center
      border 2px dashed rgba(255,255,255,0.2)
      cursor pointer
      & i
        font-size 40px
      &:hover
        color rgba(255,255,255,0.3)
        border 2px dashed rgba(255,255,255,0.3)



.button
  position absolute
  top 30px
  right 50px
  border-radius 2px
  padding 10px 20px
  font-family Open Sans, sans-serif
  font-weight 500
  font-size 13px
  color #fff
  background $active_color
  border 1px solid $active_color
  cursor pointer
  opacity 0.9
  z-index 3
  &:hover
    opacity 1
  &.toggled
    background rgba(0, 0, 0, 0.3)
    border 1px solid #000
    top 0

.podcast_background_overlay
  position absolute
  top calc(50% - 500px)
  left -250px
  width calc(100% + 500px)
  right 0
  height 700px
  opacity 0.2
  z-index 0
  background url('../bg_games.svg') no-repeat center
  background-size cover
  animation podcast_move 60s infinite

@keyframes podcast_move
  0%
    left -250px
  50%
    left 0
  100%
    left -250px

#podcast_list
  list-style none
  margin 0
  position absolute
  top 250px
  left 0
  right 0
  z-index 1
  width 100%
  padding 0
  & li
    display inline-block
    margin-left 100px
    text-align center
    width 220px
    height 200px
    &:first-child
      margin-left 0
    & .podcast_user_icon
      width 150px
      height 150px
      background #222428
      border-radius 50%
      border 5px solid #3C3D41
      box-shadow 0 0 0 transparent
      display inline-block
    & .podcast_username
      background #222428
      border-radius 2px
      min-width 150px
      padding 0 10px
      margin-top 10px
      line-height 35px
      display inline-block
      & i
        color rgba(255, 255, 255, 0.5)
    &.speaking .podcast_user_icon
      animation speaking 0.7s ease-in-out infinite

@keyframes speaking
  0%
    box-shadow 0 0 40px $active_color
  25%
    box-shadow 0 0 22px $active_color
  50%
    box-shadow 0 0 30px $active_color
  75%
    box-shadow 0 0 40px $active_color
  100%
    box-shadow 0 0 30px $active_color

// QUEUE VIEW

.contentWrapper .bigcircle
  position absolute
  top -50%
  left -50%
  width 90%
  height 200%
  background rgba(0,0,0,0.9)
  border-radius 50%
  overflow hidden
  box-shadow 20px 20px 0 rgba(0,0,0,0.4), 25px -20px 0 rgba(0,0,0,0.4)
  & .artwork
    width 100%
    height 100%
    filter blur(20px)
    opacity 0.4
    background-position -200% 0px

.contentWrapper #currentSong
  position absolute
  top 0
  left 0
  right 60%
  bottom 0
  width auto
  height auto

.contentWrapper #currentSong .artwork
  position absolute
  top calc(50% - 300px)
  left calc(50% - 200px)
  width 400px
  height 400px
  border-radius 14px
  background #000
  box-shadow 0 0 22px rgba(0,0,0,0.6)

.contentWrapper #currentSong .title
  position absolute
  top 680px
  left 0
  width 100%
  text-align center
  height 80px
  font-size 26px
  font-family 'Montserrat', sans-serif
  font-weight bold
  color #fff

.contentWrapper #currentSong .album_name
  position absolute
  top 725px
  left 0
  width 100%
  text-align center
  height 80px
  font-size 20px
  font-family 'Montserrat', sans-serif
  font-weight 500
  color rgba(255,255,255,0.6)

.contentWrapper .playlistQueueContainer
  width calc(60% - 60px)
  margin-left calc(40% + 60px)
  & .songList
    min-width 300px
    & li
      margin-top 10px
      min-width 300px
      cursor default
      &:last-child
        padding-bottom 50px