$active_color = rgba(19, 112, 226, 1)

@media all and (max-width: 1400px)
  *
    -webkit-tap-highlight-color  rgba(255, 255, 255, 0)

  .motorbotSelection
    position absolute
    top 54px !important
    right 18px !important
    & .issue
      display none
    & .enviromentSelection
      padding 7px 13px 7px 9px !important
      &:after
        content ''
        display none
      & .arrow
        float right !important
        margin-left 10px !important
        margin-right 0 !important
      & .guild_icon
        float right !important
      & .guild
        float right !important
        text-align right !important
      & .voice
        float right !important
        text-align right !important

  .header
    min-width 500px
    & .bg
      filter blur(25px)
      opacity 0.6
    & .playlistName
      top 125px !important
      font-size 30px !important
      text-overflow ellipsis
      overflow hidden
      white-space nowrap
    & .playlistDescription
      display none

  #playlist,
  #search_playlist,
  .songList
    min-width 500px
    & li
      min-width 500px
      & .trackRow
        & .album
          display none
          flex-grow 0
          -webkit-flex-basis 0
          flex-basis 0
        & .time
          display none
          flex-grow 0
          -webkit-flex-basis 0
          flex-basis 0

@media all and (max-width: 1000px)

  .header
    & .playlistType
      display none
    & .playlistStats
      top 175px
      left 140px
      width calc(100% - 180px)
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
      & .totalPlayTime
        display none
      & .numberOfFollowers
        display none
    & .artwork
      left 40px
      top 120px
      width 80px
      height 80px
    & .playlistName
      top 130px !important
      left 120px !important
      font-size 18px !important
      width calc(100% - 170px) !important
      text-align left
      padding 0 20px
    & .playlistOptions
      width 100%
      left 40px
      text-align left

@media all and (max-width: 750px)

  #playlist,
  #search_playlist,
  .songList
    min-width 400px
    & li
      min-width 400px
      & .trackRow
        & .artist
          display none
          flex-grow 0
          -webkit-flex-basis 0
          flex-basis 0
        & .album
          display none
          flex-grow 0
          -webkit-flex-basis 0
          flex-basis 0
        & .timestamp
          display none
          flex-grow 0
          -webkit-flex-basis 0
          flex-basis 0

  .titlebar .search, .titlebar .searchIcon
    display none

  .header
    & .playlistType
      display none
    & .playlistStats
      display none
    & .artwork
      top 80px
      left calc(50% - 40px)
      width 80px
      height 80px
    & .playlistName
      top 170px !important
      left 0 !important
      font-size 18px !important
      width calc(100% - 40px) !important
      text-align center
      padding 0 20px
    & .playlistOptions
      width 100%
      left 0
      text-align center


@media (display-mode: standalone), (max-width: 500px)
  *
    -webkit-tap-highlight-color  rgba(255, 255, 255, 0)

  .titlebar
    display none

  .sidebar
    display none !important

  .mobileNavigation
    display block
    position fixed
    bottom 0
    left 0
    right 0
    height 58px
    background #18191D
    & ul
      list-style none
      margin 0
      padding 0
      & li
        float left
        text-align center
        font-size 18px
        width 33%
        line-height 58px
        color #eee

  .flexContainer
    background rgba(17, 18, 23, 1)

  .playerBar
    position fixed
    bottom 0
    left 0
    right 0
    height 100%
    z-index 2000
    background #18191D
    box-shadow inset 0 0 0 rgba(74, 76, 81, 1)
    overflow hidden
    transition height 0.4s ease-in-out, bottom 0.4s ease-in-out
    & .bg
      display block
      position absolute
      top -35px
      left -35px
      right -35px
      bottom -35px
      width auto
      height auto
      filter blur(25px)
      &:after
        content ''
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        width 100%
        height 100%
        background linear-gradient(to bottom, rgba(24,25,29,0.2) 0%, rgba(24,25,29,1) 75%, rgba(24,25,29,1) 100%)
    & .downButton
      display block
      position absolute
      top 20px
      left 10px
      color rgba(255, 255, 255, 0.8)
      width 38px
      height 38px
      font-size 18px
      text-align center
    & .controls
      position absolute
      top calc(50% + 290px)
      left calc(50% - 120px)
      border-radius 0
      border 0 solid transparent
      font-size 20px
      width 240px
      height 100px
      text-align center
      & .prev
        font-size 22px
        margin-left 0
        line-height 70px
      & .skip
        font-size 22px
        margin-left 50px
        line-height 70px
      & .playStopButton
        font-size 26px
        margin-left 50px
        background #fff
        color #18191D
        width 70px
        line-height 70px
        border-radius 50%
        &:hover
          color #18191D
          transform scale(1.1)
    & .random, .repeat, .queue_button
      display none
    & .queue_button
      display block
      position absolute
      bottom 20px
      right 10px
      top auto
    & .activeArtwork
      position absolute
      top calc(50% - 250px)
      left 10%
      display inline-block
      height 0
      padding-bottom 80%
      width 80%
      border-radius 20px
      overflow hidden
      box-shadow 0 0 12px rgba(0,0,0,0.7)
      background-color rgba(0,0,0,0.5)
    & .activeTrack,
      .activeArtist
      position absolute
      top calc(50% + 170px)
      font-size 20px
      left 10%
      width 80%
      color #fff
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
    & .activeArtist
      top calc(50% + 200px)
      font-size 16px
      font-weight 500
      color rgba(255,255,255,0.6)
    & .timelineWrapper
      position absolute
      top calc(50% + 235px)
      left 10%
      right 10%
      width auto
      height 2px
      overflow hidden
      background rgba(200,200,200,0.1)
      & .timeline
        position absolute
        top 0
        left 0
        bottom 0
        width 0
        height 2px
        border-top-right-radius 0
        border-bottom-right-radius 0
        background $active_color
        transition width 1s linear
        z-index 2
        &.loading
          position absolute
          top 0
          left 0
          animation loadingSeekBar 0.3s ease-in-out infinite
      & .downloadtimeline
        position absolute
        top 0
        left 0
        bottom 0
        width 0
        height 4px
        z-index 1
        border-top-right-radius 0
        border-bottom-right-radius 0
        background rgba(200,200,200,0.3)
        transition width 2s linear
    & .duration
      color rgba(255, 255, 255, 0.6)
      position absolute
      top calc(50% + 240px)
      line-height 30px
      right 10%
      text-align right
      width 130px
      font-size 13px
  &.mini
    position fixed
    bottom 60px
    left 0
    right 0
    top auto
    height 75px
    z-index 2000
    background #18191D
    box-shadow inset 0 0 0 rgba(74, 76, 81, 1)
    overflow hidden
    & .bg:after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      width 100%
      height 100%
      background rgba(24,25,29,0.8)
    & .activeArtwork
      display none
    & .downButton
      top 28px
    & .queue_button
      display none
    & .activeTrack,
      .activeArtist
        position absolute
        top 18px
        font-size 16px
        left 60px
        width calc(100% - 160px)
        color #fff
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
    & .activeArtist
      top 38px
      font-size 14px
      font-weight 500
      color rgba(255,255,255,0.5)
    & .controls
      position absolute
      top 15px
      left auto
      right 10px
      border-radius 0
      border 0 solid transparent
      font-size 20px
      width 60px
      height 50px
      text-align center
      & .prev
        display none
      & .skip
        display none
      & .playStopButton
        font-size 15px
        margin-left 0
        background transparent
        color #fff
        border 2px solid #fff
        width 40px
        line-height 40px
        border-radius 50%
        &:hover
          color #fff
          transform scale(1.1)

  #websocketDisconnectOverlay
    display none
    position absolute
    left 0
    top 0
    z-index 10001
    width 100%
    height 100%
    overflow hidden
    background #2E3136
    transform scale(0)
    animation zoomin .3s
    animation-fill-mode forwards
    & .icon
      float left
      font-size 150px
      text-align center
      width 100%
      height 400px
      line-height 400px
      color rgba(0, 0, 0, 0.4)
      background-color rgba(238, 62, 62, 1)
    & .content
      float left
      height 95px
      margin-left 0
      width calc(100% - 50px)
      color #fff
      padding 25px 15px
      & .title
        color #fff
        display inline-block
        font-weight bold
        font-size 25px
        width 100%
        text-transform uppercase
        letter-spacing 1px
      & .description
        margin-top 15px
        color rgba(255, 255, 255, 0.6)
        display inline-block
        font-size 15px
        width 100%
        font-weight 400

  // PLAYLIST VIEW

  .header
    width 100%
    min-width 300px
    height 300px
    color #fff
    background rgba(31, 32, 37, 1)
    font-size 20px
    font-family 'Montserrat', sans-serif
    font-weight 500
    position relative
    top 0
    left 0
    z-index 9
    overflow hidden
    & .bg
      width 100%
      height 300px
      position absolute
      top 0
      right 0
      bottom 0
      filter blur(15px)
    & .bg_overlay
      position absolute
      width 100%
      height 300px
      top 0
      right 0
      background linear-gradient(to bottom, rgba(17, 18, 23, 0.2) 0%, rgba(17, 18, 23, 1) 75%, rgba(17, 18, 23, 1)100%)
    & .playlistType
      display none
    & .playlistName
      position absolute
      left 0
      top 160px
      width 100%
      font-size 18px
      font-weight 700
      color #fff
      text-align center
      white-space wrap
      overflow hidden
      opacity 1
    & .playlistDescription
      position absolute
      left 0
      top 185px
      width 100%
      height auto
      text-align center
      white-space wrap
      overflow hidden
      font-size 13px
      font-weight 500
      color rgba(220, 220, 220, 0.7)
      font-style italic
    & .playlistStats
      display none
    & .playing
      position absolute
      top 80px
      left 50px
    & .playlistOptions
      position absolute
      top 215px
      left calc(50% - 100px)
      width 200px
      opacity 1
      text-align center
      & .playPlaylistButton, .followPlaylistButton, .playlistExtraOptions
        display inline-block
        border-radius 20px
        padding 6px 30px
        font-family 'Montserrat', sans-serif
        font-weight 600
        font-size 13px
        color #fff
        background $active_color
        border 1px solid $active_color
        cursor pointer
        opacity 0.9
        &:hover
          opacity 1
      & .followPlaylistButton
        display none
        background rgba(0, 0, 0, 0.4)
        border 1px solid rgba(200, 200, 200, 1.0)
        margin-left 20px
        &:hover
          border 1px solid $active_color
        &.following
          border 1px solid $active_color
          &:hover
            border 1px solid rgba(200, 200, 200, 1.0)
      & .playlistExtraOptions
        display none
        background rgba(0, 0, 0, 0.4)
        border 1px solid rgba(255, 255, 255, 0.6)
        padding 6px 8px
        margin-left 20px
        opacity 1
        &:hover
          border 1px solid rgba(255, 255, 255, 1)
    & .artwork
      position absolute
      top 50px
      left calc(50% - 50px)
      width 100px
      height 100px
      border-radius 8px
      box-shadow 0 0 10px rgba(11,11,11,0.4)
    &.mini
      position fixed
      left 230px
      top -100px
      width calc(100% - 230px)
      min-width 1128px
      height 300px
      & .bg
        filter blur(10px)
      & .artwork
        top 45px
        opacity 0
      & .playlistType
        top 45px
        opacity 0
      & .playlistName
        top 65px
        opacity 0
      & .playlistDescription
        top 120px
        opacity 0
      & .playlistStats
        top 150px
        opacity 0
      & .playlistOptions
        top 185px
        opacity 0
  #playlist,
  #search_playlist,
  .songList
    list-style none
    margin 0
    padding 0
    width calc(100% - 5px)
    min-width 300px
    height 100%
    & li
      float left
      width calc(100% - 10px)
      min-width 300px
      cursor pointer
      //background rgba(34, 34, 41, 1.00)
      font-size 12px
      font-weight 500
      margin-left 5px
      margin-right 5px
      //border-bottom 1px solid rgba(36, 36, 36, 1.00)
      background transparent
      border-radius 2px
      color rgba(255, 255, 255, 0.8)
      position relative
      height 60px
      top 0
      left 0
      &:nth-child(2n)
        //background rgba(0,0,0,0.1)
      &.titleRow
        display none
        font-size 13px
        font-weight 400
        text-transform uppercase
        color rgba(132, 137, 143, 1.00)
        width calc(100% + 5px)
        height 30px
        line-height 30px
        margin 0
        margin-top -30px
        cursor default
        z-index 10
        border-radius 0
        position relative
        top 0
        left 0
        & .sortDir
          color $active_color
          margin-left 10px
          opacity 1
        & > .trackRow > div
          line-height 30px
          cursor pointer
        & > .trackRow > div:hover
          color #fff
          opacity 1
      &:nth-child(2)
        margin-top 5px
      & .trackRow
        display -webkit-flex
        display flex
        -webkit-flex-direction row
        flex-direction row
        -webkit-flex-wrap nowrap
        flex-wrap nowrap
        width 100%
        & .item
          display none
          text-align right
          vertical-align top
          line-height 40px
          padding-right 30px
          position relative
          top 0
          right 0
          -webkit-flex-basis 0
          flex-basis 0
          & .play
            position absolute
            top 12px
            right 3px
            font-size 14px
            color $active_color
        & .title
          flex-grow 1
          vertical-align top
          line-height 40px
          width calc(100% - 70px)
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          padding-right 10px
          padding-left 10px
          position relative
          font-size 13px
          font-weight 500
          top 0
          & .explicit
            position absolute
            right 0
            top 12px
            border 1px solid rgba(238, 62, 62, 1.00)
            border-radius 50%
            line-height 15px
            padding 0 6px 0 5px
            font-size 8px
            font-weight bold
            color rgba(238, 62, 62, 1.00)
        & .artist
          position absolute
          bottom 0
          left 0
          flex-grow 0
          width 240px
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          padding-right 10px
          padding-left 10px
          color rgba(96, 102, 111, 1)
          vertical-align top
          line-height 40px
          -webkit-flex-basis 0
          flex-basis 0
        & .album
          display none
          flex-grow 1
          width 240px
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          padding-right 10px
          padding-left 10px
          vertical-align top
          line-height 40px
          -webkit-flex-basis 0
          flex-basis 0
        & .timestamp
          display none
          padding-left 10px
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          color rgba(96, 102, 111, 1)
          line-height 40px
          -webkit-flex-basis 0
          flex-basis 0
          & i
            margin-top 8px
        & .time
          display block
          width 70px
          padding-left 10px
          padding-right 10px
          text-align right
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          color rgba(96, 102, 111, 1)
          vertical-align top
          line-height 40px
          -webkit-flex-basis 70px
          flex-basis 70px
          &#time_header
            padding-right 20px
          & i
            margin-top 8px
      /*&:hover
        background #35383C*/
      &.active
        background transparent
        color rgba(255, 255, 255, 0.8)
        & .trackRow .item .play
          color $active_color
      &.playing
        color #0072ff !important
        & .timestamp, .time
          color #0072ff !important
    &.mini
      margin-top 299px
      & .titleRow
        position fixed
        top 200px
        left 230px
        right 0
        width calc(100% - 230px)
