@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

:root {
    --main-active-color: rgba(19, 112, 226, 1);
}

body{
    margin: 0;
    padding: 0;
    background: rgba(248, 250, 251, 1.00);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #191919;
    z-index: 10;
}

.header .motorbotIcon {
    position: absolute;
    top: 5px;
    left: 5px;
}

.header .motorbotIcon img {
    width: 50px;
    float: left;
}

.header .motorbotIcon .motorbot{
    font-family: "Roboto", sans-serif;
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 4px;
    color: #eee;
}

.header .motorbotIcon .motorbot span{
    font-weight: 200;
    letter-spacing: 0.5px;
}

.desktopDropDownMenu{
    width: 250px;
    height: 54px;
    padding: 11px 15px;
    background-color: rgba(34, 38, 44, 1);
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 11;
    cursor: pointer;
}

.desktopDropDownMenu .lib{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.desktopDropDownMenu .version{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: rgba(255,255,255, 0.7);
}

.desktopDropDownMenu .libDropDownArrow{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 15px;
    color: rgba(255,255,255, 0.8);
}

.desktopDropDownMenu .libDropDownMenu{
    display: none;
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    height: auto;
    background: #fff;
    z-index: 11;
    border-bottom: 2px solid rgba(34, 38, 44, 1);
}

.desktopDropDownMenu .libDropDownMenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.desktopDropDownMenu .libDropDownMenu ul li{
    padding: 0 15px;
    width: 100%;
    line-height: 45px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: rgba(94, 104, 116, 1.00);
    border-bottom: 1px solid rgba(248, 248, 248, 1.00);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: background 0.2s ease;
}

.desktopDropDownMenu .libDropDownMenu ul li:last-child{
    border-bottom: 0 solid transparent;
}

.desktopDropDownMenu .libDropDownMenu ul li span{
    color: rgba(94, 104, 116, 0.6);
    float: right;
}

.desktopDropDownMenu .libDropDownMenu ul li:hover{
    background: rgba(248, 248, 248, 1.00);
}

.header .mobileDropDownMenu{
    display: none;
    margin-left: 15px;
    line-height: 55px;
    color: #333;
    width: 50px;
    font-size: 22px;
}

.mobileDropDownMenuContent{
    display: none;
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    z-index: 9;
}

.mobileDropDownMenuContent ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobileDropDownMenuContent ul li{
    padding: 0 15px;
    width: 100%;
    line-height: 45px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: rgba(94, 104, 116, 1.00);
    border-bottom: 1px solid rgba(236, 240, 243, 1.00);
    cursor: pointer;
}

.mobileDropDownMenuContent ul li.navItem{
    padding: 0 25px;
    width: 100%;
}

.mobileDropDownMenuContent ul li.title{
    padding: 0 15px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(145, 154, 165, 1.00);
    cursor: default;
}

.bodyWrapper{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 245px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.sidebar{
    min-width: 250px;
    flex: 250px;
    position: relative;
    top: 0;
}

.sidebar>ul{
    position: fixed;
    top: 110px;
    left: 0;
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 250px;
    height: 100%;
}

.sidebar>ul>li{
    float: left;
    width: 100%;
    padding: 14px 15px 0 15px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: rgba(43, 47, 55, 1.00);
    position: relative;
    top: 0;
}

.sidebar>ul>li>span{
    transition: color 0.2s ease-in-out;
    width: 100%;
    display: inline-block;
    clear: both;
}

.sidebar>ul>li>span:hover{
    color: var(--main-active-color);
}

.sidebar>ul>li>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

.sidebar>ul>li>ul>li{
    font-weight: 400;
    padding: 14px 15px 0 15px;
    cursor: pointer;
    font-size: 14px;
    color: rgba(43, 47, 55, 1.00);
    font-family: "Roboto", sans-serif;
    position: relative;
    top: 0;
    transition: color 0.2s ease-in-out;
}

.sidebar>ul>li>ul>li:hover{
    color: var(--main-active-color);
}

.sidebar>ul>li>ul>li.active{
    color: var(--main-active-color);
}

.sidebar>ul>li>ul>li.active:after{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    left: 4px;
    top: calc(50% + 3px);
    background-color: var(--main-active-color);
}

.sidebar ul li.title{
    margin: 8px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    color: #000;
}

.sidebar ul li.navItem{
    cursor: pointer;
}

.sidebar ul li.navItem.active{
    font-weight: bold;
    color: var(--main-active-color);
}

.content{
    width: 100%;
    min-height: 300px;
    background: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding-bottom: 50px;
    overflow: auto;
    opacity: 0;
    transition: opacity 1s ease;
}

.content.fadeIn{
    opacity: 1;
}

.content.fadeOut{
    opacity: 0;
}

.dark-box{
    position: fixed;
    background: rgba(43, 47, 55, 1);
    top: 0;
    right: 0;
    bottom: 0;
    width: calc((100% - 250px)/2);
}

.content .title{
    width: calc(50% - 60px);
    line-height: 130px;
    padding: 0 30px;
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: rgba(17, 17, 17, 1.00);
    cursor: pointer;
    position: relative;
}

.content .title .method{
    position: absolute;
    top: 95px;
    left: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
    line-height: 25px;
    padding: 0 10px;
    background: rgba(193, 195, 198, 1);
}

.content .title .method.get{
    background: rgba(105, 94, 184, 1);
}

.content .title .method.post{
    background: rgba(140, 207, 59, 1);
}

.content .title .method.patch{
    background: #F2B731;
}

.content .title .method.put{
    background: rgb(0, 101, 168);
}

.content .title .method.delete{
    background: rgba(238, 86, 85, 1);
}

.content .title .type{
    position: absolute;
    top: 72px;
    left: 30px;
    color: #ccc;
    font-weight: 400;
    font-size: 15px;
}

.content .title .anchor{
    display: none;
    font-size: 13px;
    color: rgba(0, 170, 234, 1.00);
}

.content .title:hover .anchor{
    display: inline-block;
}

.content .contentsBox{
    margin: 15px 30px;
    padding: 10px 20px;
    width: 250px;
    font-family: "Roboto", sans-serif;
    border: 1px solid rgba(236, 240, 243, 1.00);
    border-radius: 3px;
    display: inline-block;
}

.content .contentsBox .contentTitle{
    line-height: 30px;
    color: rgba(171, 178, 191, 1.00);
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}

.content .contentsBox #contentsList{
    list-style: none;
    margin: 0;
    padding: 0;
}

.content .contentsBox #contentsList li{
    width: 100%;
    line-height: 22px;
    font-size: 13px;
    color: rgba(50, 138, 230, 1.00);
    cursor: pointer;
}

.content .contentsBox #contentsList li div:hover{
    color: rgba(38, 95, 166, 1.00);
}

.content .contentsBox #contentsList li ul{
    list-style: none;
    margin: 5px 10px;
    padding: 0;
}

.content .contentsBox #contentsList li ul li:hover{
    color: rgba(38, 95, 166, 1.00);
}

.content .options{
    list-style: none;
    margin: 30px;
    display: flex;
    padding: 0;
}

.content .options li{
    flex-direction: row;
    flex-grow: 1;
    line-height: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: rgba(49, 54, 62, 1.00);
    border: 1px solid rgba(216, 222, 227, 1.00);
    box-shadow: 0 1px 3px rgba(116, 122, 127, 0.1);
    margin-left: 10px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
    transition: all .2s ease-in-out;
}

.content .options li span{
    color: #aaa;
}

.content .options li:first-child{
    margin-left: 0;
}

.content .options li:hover{
    transform: scale(1.03);
}

.content h1,
.content h2,
.content h3,
.content h4{
    margin: 10px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    color: rgba(49, 54, 62, 1.00);
    clear: both;
    width: calc(50% - 60px);
}

.content h2{
    margin: 30px 30px;
    font-size: 20px;
}

.content h3{
    margin: 5px 30px;
    font-size: 18px;
    font-weight: 300;
}

.content h2 .anchor{
    display: none;
    font-size: 13px;
    color: rgba(0, 170, 234, 1.00);
}

.content h2:hover .anchor{
    display: inline-block;
}

.content h4{
    margin: 5px 30px;
    font-size: 15px;
    font-weight: bold;
}

.content h1.ignore-split,
.content h2.ignore-split,
.content h3.ignore-split,
.content h4.ignore-split{
    display: inline-block;
}

.content p{
    margin: 15px 30px;
    width: calc(50% - 60px);
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #4C555A;
    display: inline-block;
}

.content p>code{
    padding: 3px 5px;
    border-radius: 3px;
    background: #ededed;
    font-size: 13px;
}

.content p a{
    cursor: pointer;
    color:  var(--main-active-color);
    text-decoration: none;
}

.content p a:hover{
    text-decoration: underline;
}

.content>.img{
    margin: 15px 30px;
    width: calc(50% - 60px);
    display: inline-block;
    text-align: center;
}

.content>.img>img{
    display: inline-block;
    width: calc(100% - 120px);
}

.content>.list{
    margin: 0 30px;
    width: calc(50% - 60px);
    height: auto;
    display: inline-block;
}

.content>.list>ul{
    list-style: square;
    margin: 0;
    display: inline-block;
}

.content>.list>ul>li{
    padding: 8px 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #4C555A;
}

.content>.list code{
    padding: 3px 5px;
    border-radius: 3px;
    background: #ededed;
    font-size: 13px;
}

.content .link{
    cursor: pointer;
    color:  var(--main-active-color);
}

.content .link:hover{
    text-decoration: underline;
}

.content .code{
    margin: 0;
    background: rgba(0,0,0,0.2);
    height: auto;
    width: 50%;
    padding: 30px 0;
    display: inline-flex;
    position: relative;
    float: right;
    clear: right;
}

.content .code .langs{
    width: 100%;
    height: 40px;
}

.content .code .langs ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.content .code .langs ul li{
    float: left;
    line-height: 30px;
    margin: 5px 10px;
    padding: 0 10px;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #aaa;
    cursor: pointer;
    font-weight: 500;
}

.content .code .langs ul li:hover{
    color: #eee;
}

.content .code .langs ul li.active{
    background: rgba(63, 150, 230, 1.00);
    color: #eee;
}

.content .code pre,
.content .inline-code pre{
    padding: 0 20px;
    margin: 0;
    color: rgba(171, 178, 191, 1.00);
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    font-weight: 500;
    font-size: 15px;
    white-space: pre-wrap;
}

.content .inline-code{
    margin: 15px 30px;
    width: calc(50% - 60px);
    border-radius: 3px;
    background: #191919;
    padding: 13px 0;
    font-size: 12px;
    display: table;
    white-space: pre-line;
    word-break: break-all;
}

.content .inline-code pre,
.content .inline-code pre code{
    word-break: break-all !important;
    font-size: 13px;
}

.content table.endpointTable{
    margin: 5px 30px;
    padding: 0;
    width: calc(50% - 60px);
    height: auto;
    border-spacing: 0;
    font-size: 13px;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    display: inline-block;
}

.content table.endpointTable thead tr td{
    border-bottom: 2px solid rgba(193, 195, 198, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgba(193, 195, 198, 1);
    font-size: 12px;
    padding: 10px 40px 10px 0;
    text-transform: uppercase;
    width: 100%;
}

.content table.endpointTable tbody tr td{
    font-family: "Roboto", sans-serif;
    color: rgba(17, 17, 17, 0.7);
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
    padding: 10px 40px 10px 5px;
    border-bottom: 1px solid rgba(248,248,248,1);
}

.content table.endpointTable tbody tr:hover{
    background: rgba(248,248,248,1);
}

.content table.endpointTable tbody tr td:last-child{
    padding: 10px 0 10px 5px;
}

.content table.endpointTable tbody tr td:first-child{
    text-align: left;
}

.content table.endpointTable tbody tr td span.required,
.content table.endpointTable tbody tr td span.optional{
    color: rgba(43, 47, 55, 0.4);
    font-style: italic;
    font-size: 12px;
}

.content table.endpointTable tbody tr td span.required{
    color: rgba(236, 121, 7, 0.8);
}

.content table.endpointTable tbody tr td code{
    padding: 3px 5px;
    border-radius: 3px;
    background: #ededed;
    font-size: 13px;
}

.content table.endpointTable tbody tr td a{
    cursor: pointer;
    color:  var(--main-active-color);
    text-decoration: none;
}

.content table.endpointTable tbody tr td a:hover{
    text-decoration: underline;
}

.content table.endpointTable.headers thead tr td:first-child,
.content table.endpointTable.pathParameters thead tr td:first-child,
.content table.endpointTable.queryParameters thead tr td:first-child,
.content table.endpointTable.bodyParameters thead tr td:first-child{
    width: 150px;
    min-width: 150px;
}

.content table.endpointTable.object thead tr td:first-child{
    width: 95px;
    min-width: 95px;
}

.content table.endpointTable.object thead tr td:nth-child(2){
    width: 160px;
    min-width: 160px;
}

.content table.endpointTable.endpoints thead tr td:first-child{
    width: 120px;
    min-width: 120px;
}

.content table.endpointTable.endpoints thead tr td:nth-child(3){
    width: 300px;
    min-width: 300px;
}

.content table.endpointTable.endpoints thead tr td:last-child{
    width: 200px;
    min-width: 200px;
}


.content ul.methodList{
    list-style: none;
    margin: 15px 0;
    width: 100%;
    height: auto;
    padding: 0;
    position: relative;
}

.content ul.methodList>li{
    width: 100%;
    height: auto;
    min-height: 70px;
    position: relative;
    display: inline-block;
}

.content ul.methodList li .method{
    font-size: 15px;
    height: auto;
    width: 100%;
    color: rgba(34, 36, 43, 0.8);
    display: inline-block;
}

.content ul.methodList li .method .anchor{
    display: none;
    font-size: 13px;
    color: rgba(0, 170, 234, 1.00);
}

.content ul.methodList li .method:hover .anchor{
    display: inline-block;
}

.content ul.methodList li .method pre{
    white-space: normal;
}

.content ul.methodList li .description{
    height: auto;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #4C555A;
    width: 100%;
    display: inline-block;
}

.content ul.methodList li .examples{
    height: auto;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #4C555A;
    width: 100%;
    display: inline-block;
}

.content ul.methodList li .examples .code{
    margin: 0;
}

.content ul.methodList li .description>code{
    background: rgba(70,70,90,0.1);
    padding: 3px 5px;
    border-radius: 3px;
}

.content ul.methodList li .returns{
    height: auto;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #4C555A;
    width: 100%;
    display: inline-block;
}

.content ul.methodList li .returns>p{
    margin: 15px 0;
    font-size: 13px;
}

.content ul.methodList li .returns .code{
    margin: 0;
}

.content ul.methodList li .returns>code{
    background: rgba(70,70,90,0.1);
    padding: 3px 5px;
}

.content ul.methodList li .parameters{
    height: auto;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.content ul.methodList li .parameters>p{
    margin: 15px 0;
    font-size: 13px;
}

.content ul.methodList li .parameters table{
    margin: 10px 0;
    width: 50%;
}

.content ul.methodList li .parameters table tbody tr td:first-child{
    width: 15%;
}

.content ul.methodList li .parameters table tbody tr td:nth-child(2){
    width: 10%;
}

.content ul.methodList li .parameters table tbody tr td:nth-child(3){
    text-align: center;
    width: 10%;
}

.content ul.methodList li .parameters table tbody tr td:nth-child(4){
    width: 10%;
}

.content ul.methodList li .parameters table tbody tr td:last-child{
    width: 55%;
}

.content .notification{
    margin: 15px 30px;
    width: calc(50% - 60px);
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #4C555A;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.content .notification>p:first-child{
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
}

.content .notification>p{
    margin: 0 10px;
    width: 100%;
}

.content .notification>p>code{
    background: rgba(70,70,90,0.1);
    padding: 3px 5px;
    border-radius: 3px;
}

.content .notification:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    width: 6px;
}

.content .notification.warn{
    background: rgba(251, 247, 228, 1.00);
}

.content .notification.warn:before{
    background: rgba(255, 225, 55, 1.00);
}

.content .notification.note{
    background: rgba(249, 249, 249, 1.00);
}

.content .notification.note:before{
    background: rgba(226, 226, 226, 1.00);
}

.content .notification.err{
    background: rgba(255, 63, 40, 0.2)
}

.content .notification.err:before{
    background: rgba(255, 63, 40, 1.00);
}

.footer{
    width: 100%;
    min-width: 1280px;
    height: 400px;
    background: #191919;
    z-index: 10;
    position: relative;
}

/*Mobile Small*/
/*
@media (min-width: 0) {
    .bodyWrapper{
        margin-left: 0;
        width: 100%;
        padding-bottom: 0;
        min-width: 100px;
    }
    .content{
        margin-top: 45px;
        margin-left: 0;
        box-shadow: transparent;
        width: 100%;
        border-radius: 0;
    }
    .content ul.methodList li .description{
        margin-left: 0;
        width: calc(100% - 60px);
    }
    .content ul.methodList li .parameters{
        margin-left: 0;
        width: calc(100% - 60px);
    }
    .content ul.methodList li .notification{
        margin-left: 0;
        width: calc(100% - 60px);
    }
    .content ul.methodList li .examples{
        margin-left: 0;
        width: calc(100% - 60px);
    }
    .content ul.methodList li .returns{
        margin-left: 0;
        width: calc(100% - 60px);
    }
    .header .mobileDropDownMenu{
        display: block;
    }
    .header .desktopHeaderWrapper{
        width: 100%;
        height: 55px;
        margin-left: 0;
    }
    .sidebar{
        display: none;
    }
    .desktopDropDownMenu{
        display: none;
    }
    .header,
    .footer{
        width: 100%;
        min-width: 100px;
    }
    .footer{
        margin-top: 0;
    }
}*/
/*Mobile Large*//*
@media (min-width: 540px) {
    .bodyWrapper{
        margin-left: 0;
        width: 100%;
        padding-bottom: 0;
        min-width: 100px;
    }
    .content{
        margin-top: 45px;
        margin-left: 0;
        box-shadow: transparent;
        width: 100%;
        border-radius: 0;
    }
    .content ul.methodList li .description{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .parameters{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .notification{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .examples{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .returns{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .header .mobileDropDownMenu{
        display: block;
    }
    .header .desktopHeaderWrapper{
        width: 100%;
        height: 55px;
        margin-left: 0;
    }
    .sidebar{
        display: none;
    }
    .desktopDropDownMenu{
        display: none;
    }
    .header,
    .footer{
        width: 100%;
        min-width: 100px;
    }
    .footer{
        margin-top: 0;
    }
}*/
/*Tablet*//*
@media (min-width: 786px) {
    .bodyWrapper{
        margin-left: 0;
        width: 100%;
        min-width: 786px;
        padding-bottom: 10px;
    }
    .content{
        margin-top: 80px;
        margin-left: 20%;
        width: calc(100% - 225px);
        max-width: 1000px;
        border-radius: 3px;
    }
    .content ul.methodList li .description{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .parameters{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .notification{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .examples{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .returns{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .header .mobileDropDownMenu{
        display: none;
    }
    .header .desktopHeaderWrapper{
        width: 100%;
        min-width: 785px;
        height: 55px;
        margin-left: 0;
    }
    .sidebar{
        display: block;
        max-width: 280px;
        width: 215px;
    }
    .desktopDropDownMenu{
        display: block;
    }
    .header,
    .footer{
        min-width: 786px;
        width: 100%;
    }
    .footer{
        margin-top: 20px;
    }
}*/
/*Laptop*//*
@media (min-width: 1024px) {
    .bodyWrapper{
        margin-left: 0;
        width: 100%;
        min-width: 1024px;
        padding-bottom: 10px;
    }
    .content{
        margin-top: 80px;
        margin-left: 20%;
        width: calc(100% - 225px);
        max-width: 1000px;
        border-radius: 3px;
    }
    .content ul.methodList li .description{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .parameters{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .notification{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .examples{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .returns{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .header .mobileDropDownMenu{
        display: none;
    }
    .header .desktopHeaderWrapper{
        width: 100%;
        min-width: 1024px;
        height: 55px;
        margin-left: 0;
    }
    .sidebar{
        display: block;
        max-width: 280px;
        width: 215px;
    }
    .desktopDropDownMenu{
        display: block;
    }
    .header,
    .footer{
        min-width: 1024px;
        width: 100%;
    }
    .footer{
        margin-top: 20px;
    }
}
*/
/*Deskop*//*
@media (min-width: 1280px) {
    .bodyWrapper{
        margin-left: calc(50% - 640px);
        width: 1280px;
        min-width: 1280px;
        padding-bottom: 10px;
    }
    .content{
        margin-top: 80px;
        margin-left: 20%;
        width: calc(80% - 10px);
        max-width: 1000px;
        border-radius: 3px;
    }
    .content ul.methodList li .description{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .parameters{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .examples{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .returns{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .content ul.methodList li .notification{
        margin-left: 65px;
        width: calc(100% - 120px);
    }
    .header .mobileDropDownMenu{
        display: none;
    }
    .header .desktopHeaderWrapper{
        width: 1280px;
        height: 55px;
        margin-left: calc(50% - 640px);
    }
    .sidebar{
        display: block;
        max-width: 280px;
        width: 20%;
    }
    .desktopDropDownMenu{
        display: block;
    }
    .header,
    .footer{
        min-width: 1280px;
        width: 100%;
    }
    .footer{
        margin-top: 20px;
    }
}*/